{% extends '::front/home.html.twig' %}


{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <div class="col-lg-8 left-blog-info text-left" style="margin-top: 150px">
        <div class="blog-grid-top">
            <div class="b-grid-top">
                <div class="blog_info_left_grid">
                    <a href="single.html">
                    </a>
                </div>
            </div>
        </div>


        <div class="comment-top" style="padding-left: 300px">
            <h4>You can add a Forum here ...</h4>
            <a class="comment-bottom">

                {{ form_start(form,{'attr':{'novalidate':'novalidate' }}) }}
                {{ form_row(form.titreF, {'attr': {'placeholder': 'title here...','required':'true'}}) }}
                {{ form_row(form.descriptionF, {'attr': {'placeholder': 'description here...','required':'true'}}) }}
                <br>
                <div class="swal.fire" style="padding-left: 210px">
                    {{ form_widget(form.save, {}) }}
                </div>
                <br>

                {{ form_end(form) }}
                <br>

            </a>
        </div>
    </div>

    </div>
{% endblock %}




