{% extends '::back/home.html.twig' %}

{% block body %}
    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
<br>



    <br>
    <br>
    <br>
    <br>



    <link rel="stylesheet" href="{{ asset('css/lol.css') }}"
          media="all"
          rel="stylesheet"/>
<table class="container">
    <link rel="stylesheet" href="/css/lol.css">
    <thead>

    <tr>
        <th><h1>ID</h1></th>
        <th><h1>Titre</h1></th>
        <th><h1>Description</h1></th>
        <th><h1>action</h1></th>

    </tr>
    </thead>
    <tbody>
    {% for publicite in publicites %}
    <tr>
        <td>{{ publicite.idf }}</td>
        <td>{{ publicite.titreF| raw  }}</td>
        <td>{{ publicite.descriptionf | raw }}</td>
        <td><a href="{{ path('validPub' , { 'id': publicite.idf }) }}" class ="btn btn-success btn-xs">Valider</a>
            <a href="{{ path('refusPub' , { 'id': publicite.idf }) }}" class ="btn btn-danger btn-xs">Refuser</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
    {% endif %}
{% endblock %}