{% extends '::front/home.html.twig' %}


{% block body %}
    {#start#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{  asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('styles/main_styles.css')}}">
    <link rel="stylesheet" href="{{  asset ('styles/responsive.css')}}">

    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}">
    <link rel="stylesheet" href="{{ asset('css/design.css') }}">
    <script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <div style="height: 100px"></div>
    <div class="col-lg-8 left-blog-info text-left" style="margin-top: 150px; margin-left: 200px">
        <div class="comments-container">
            <div class="blog-grid-top">
                <div class="b-grid-top">
                    <div class="blog_info_left_grid">
                        <a href="single.html">
                            <img src="{{   asset('Bundles/AppBundle/images/1.jpg')}}" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="float: right">
                        <x-star-rating id="rat" value="1" number="5" ></x-star-rating>
                    </div>
                    <h3>
                        <a href="single.html">added : {{ forum.date("m/d/Y")  | date("m/d/Y")  }}</a>
                    </h3>
                </div>
                <p>Description :{{ forum.descriptionF |raw  }}</p>
                <p > <label id="nbre"> {{ forum.nbreJaime }} </label>  <span  class="glyphicon glyphicon-thumbs-up" id="like"></span></p>
                <label id="label2" ide="{{ forum.idF }}" style="display: none"> </label>


            </div>
        </div>

        <div class="comment-top">


            {% if comments|length == 0 %}
            <h4> No Comments</h4>

            {% elseif comments |length>0 %}
            <div class="container">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
                <div class="row">
                    <!-- Contenedor Principal -->
                    <div class="comments-container">
                        <h1>Commentaires </h1>

                        <ul id="comments-list" class="comments-list">

                            {% for comment in comments %}
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                                        <!-- Contenedor del Comentario -->
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name"><a href="http://creaticode.com/blog">{{ comment.idUser }}</a></h6>
                                                <span>{{ comment.dateCom | date("m/d/Y")}}</span>

                                            </div>
                                            <div class="comment-content">
                                                {{ comment.descriptionCom }}
                                            </div>
                                            <div>
                                                {% if user.id == comment.idUser %}
                                                    <a href="{{ path('modifierC', { 'id': comment.idCom }) }}" class="btn btn-success">modifier</a>
                                                    <a href="{{ path('supprimerC', { 'id': comment.idCom}) }}" class="btn btn-danger">supprimer</a>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="comment-top">
                            </br></br>
                            <h4>Leave a Comment</h4>
                            <div class="comment-bottom">

                                {{ form_start(form) }}
                                {{form_widget(form.descriptionCom, {'attr': {'placeholder': 'comment here...','required':'true'}})}}


                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>





    </div>
    <script src="{{ asset('js/rating.js') }}"></script>

    <script >
        $("document").ready(function () {

            $("#like").click(function () {
                var label = $('#label2');
                var id = label.attr('ide');


                $.ajax(
                    {
                        type: 'POST',
                        url: '{{ absolute_url(asset('')) }}app_dev.php/qa/like',
                        data:{id:id},
                        success:function()
                        {
                            window.location.reload(true)
                        }
                    }
                )
            });

            $(function () {
                $("#rat").on("click", function () {
                    var label = $('#label2');
                    var id = label.attr('ide');
                    var note = $(this).val();
                    $.ajax(
                        {
                            type: 'POST',
                            url: '{{ absolute_url(asset('')) }}app_dev.php/qa/Rat',
                            data: {note:note, id:id},


                        }
                    )

                });
            });
        })
    </script>


    {#end#}
    <!-- Footer -->






    <script src="{{ asset('js/jquery-3.2.1.min.js') }}" ></script>
    <script src="{{ asset('styles/bootstrap4/popper.js') }}" ></script>
    <script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}" ></script>
    <script src="{{ asset('plugins/easing/easing.js') }}" ></script>
    <script src="{{ asset('plugins/parallax-js-master/parallax.min.js') }}" ></script>
    <script src="{{ asset('js/custom.js') }}" ></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}">
    <link rel="stylesheet" href="{{ asset('css/design.css') }}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /**
         * Oscuro: #283035
         * Azul: #03658c
         * Detalle: #c7cacb
         * Fondo: #dee1e3
         ----------------------------------*/
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        a {
            color: #03658c;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
        }

        body {
            font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
            background: #dee1e3;
        }

        /** ====================
         * Lista de Comentarios
         =======================*/
        .comments-container {
            margin: 60px auto 15px;
            width: 768px;
        }

        .comments-container h1 {
            font-size: 36px;
            color: #283035;
            font-weight: 400;
        }

        .comments-container h1 a {
            font-size: 18px;
            font-weight: 700;
        }

        .comments-list {
            margin-top: 30px;
            position: relative;
        }

        /**
         * Lineas / Detalles
         -----------------------*/
        .comments-list:before {
            content: '';
            width: 2px;
            height: 100%;
            background: #c7cacb;
            position: absolute;
            left: 32px;
            top: 0;
        }

        .comments-list:after {
            content: '';
            position: absolute;
            background: #c7cacb;
            bottom: 0;
            left: 27px;
            width: 7px;
            height: 7px;
            border: 3px solid #dee1e3;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .reply-list:before, .reply-list:after {display: none;}
        .reply-list li:before {
            content: '';
            width: 60px;
            height: 2px;
            background: #c7cacb;
            position: absolute;
            top: 25px;
            left: -55px;
        }


        .comments-list li {
            margin-bottom: 15px;
            display: block;
            position: relative;
        }

        .comments-list li:after {
            content: '';
            display: block;
            clear: both;
            height: 0;
            width: 0;
        }

        .reply-list {
            padding-left: 88px;
            clear: both;
            margin-top: 15px;
        }
        /**
         * Avatar
         ---------------------------*/
        .comments-list .comment-avatar {
            width: 65px;
            height: 65px;
            position: relative;
            z-index: 99;
            float: left;
            border: 3px solid #FFF;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            overflow: hidden;
        }

        .comments-list .comment-avatar img {
            width: 100%;
            height: 100%;
        }

        .reply-list .comment-avatar {
            width: 50px;
            height: 50px;
        }

        .comment-main-level:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            clear: both;
        }
        /**
         * Caja del Comentario
         ---------------------------*/
        .comments-list .comment-box {
            width: 680px;
            float: right;
            position: relative;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        }

        .comments-list .comment-box:before, .comments-list .comment-box:after {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            display: block;
            border-width: 10px 12px 10px 0;
            border-style: solid;
            border-color: transparent #FCFCFC;
            top: 8px;
            left: -11px;
        }

        .comments-list .comment-box:before {
            border-width: 11px 13px 11px 0;
            border-color: transparent rgba(0,0,0,0.05);
            left: -12px;
        }

        .reply-list .comment-box {
            width: 610px;
        }
        .comment-box .comment-head {
            background: #FCFCFC;
            padding: 10px 12px;
            border-bottom: 1px solid #E5E5E5;
            overflow: hidden;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

        .comment-box .comment-head i {
            float: right;
            margin-left: 14px;
            position: relative;
            top: 2px;
            color: #A6A6A6;
            cursor: pointer;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }

        .comment-box .comment-head i:hover {
            color: #03658c;
        }

        .comment-box .comment-name {
            color: #283035;
            font-size: 14px;
            font-weight: 700;
            float: left;
            margin-right: 10px;
        }

        .comment-box .comment-name a {
            color: #283035;
        }

        .comment-box .comment-head span {
            float: left;
            color: #999;
            font-size: 13px;
            position: relative;
            top: 1px;
        }

        .comment-box .comment-content {
            background: #FFF;
            padding: 12px;
            font-size: 15px;
            color: #595959;
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

        .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
        .comment-box .comment-name.by-author:after {
            content: 'autor';
            background: #03658c;
            color: #FFF;
            font-size: 12px;
            padding: 3px 5px;
            font-weight: 700;
            margin-left: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        /** =====================
         * Responsive
         ========================*/
        @media only screen and (max-width: 766px) {
            .comments-container {
                width: 480px;
            }

            .comments-list .comment-box {
                width: 390px;
            }

            .reply-list .comment-box {
                width: 320px;
            }
        }
    </style>
    </body>

    </html>

{% endblock %}

