{% extends '::front/home.html.twig' %}

{% block body %}

    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>

    <div>

    {% for forum in forums %}
        {% if forum.Etat == 1 %}
            <div class="col-lg-8 left-blog-info text-left">
                <div class="blog-grid-top" style="padding-left: 280px">

                    <div style="background-color: #f3f7f9; padding-left: 140px;width: 750px">
                        <br>

                        <h4>
                            <a href="#">Added :{{ forum.date | date("m/d/Y") }}  </a>
                            <br>

                        </h4>
                        <h3>{{ censorF.censorString(forum.Titre_Sujet |raw )['clean'] }}</h3>
                        <h4>{{ censorF.censorString(forum.Contenu_Sujet |raw )['clean'] }}</h4>

                        <br>

                        <div class="button event_button event_button_1"><a
                                    href="{{ path('detailsF', { 'id': forum.Id_Sujet }) }}">Details</a></div>

                        <br>
                    </div>
                    <br>
                </div>

            </div>


        {% endif %}
    {% endfor %}




    <div class="text-center">{{ knp_pagination_render(forums) }}</div>
        <div class="text-center">   {{ weglot_translate_render(1) }}</div>
    </div>
    <br>
    <br>
    <br>

{% endblock %}
