
{% extends '::front/home.html.twig' %}

{% block body %}
<br>
    <br>

    <br>

    <br>
    <br>
    <br>


    <div style="padding-left: 480px;padding-top: 20px">
    <div class="button event_button event_button_1" style="width: 350px;"><a href="{{ path('add_form') }}">Ajouter un Sujet </a></div>
    </div>
    {% for forum in forums %}

        <div class="col-lg-8 left-blog-info text-left" style="margin-top: 50px">
            <div class="blog-grid-top" style="padding-left: 280px">

                <div style="background-color: #f3f7f9; padding-left: 140px;width: 750px">
                    <br>
                <h4>

                    <a href="#">Added :{{ forum.date | date("m/d/Y")  }}  </a>
                    <br>


                        <p>Published by :  <b>Me</b></p>
                </h4>
                <h4>{{ forum.descriptionF|raw   }} </h4>

                <br>
                <a href="{{ path('detailsF', { 'id': forum.idF }) }}" class="btn btn-outline-info">Détails</a>



                    <a href="{{ path('modifierF', { 'id': forum.idF }) }}" class="btn btn-outline-warning">modifier</a>
                    <a href="{{ path('supprimerF', { 'id': forum.idF }) }}" class="btn btn-outline-danger">supprimer</a>
                    <br>
                    <br>

                </div>
            </div>

        </div>

    {%  endfor %}

    <br>
    <br>
    <br>



{% endblock %}
