
{% extends '::front/home.html.twig' %}
{% block deco1 %}

    {% if is_granted('ROLE_USER')  %}
        <a   href="{{ path('fos_user_security_logout') }}" class="connecter">Deconnexion </a>
        {% block cree %}<a href=""> </a> {% endblock %}
    {% else %}

        <a   href="{{ path('fos_user_security_login') }}" class="connecter">Se Connecter </a>

    {% endif %}
{% endblock %}
{% block creee %}
    {% if is_granted('ROLE_USER')  %}

        <a href="">   </a>
    {% else %}
        <a href="{{ path('fos_user_registration_register') }}">  cree un compte </a>
    {% endif %}
{% endblock %}
{% block connecteru %}


{% endblock %}
{% block body %}

<br>
    <br>
    <br>



    <div class="col-lg-8 left-blog-info text-left" style="margin-top: 110px">
        <div class="blog-grid-top">
            <div class="b-grid-top">
                <div class="blog_info_left_grid">
                    <a href="single.html">
                        <img src="{{   asset('Bundles/AppBundle/images/1.jpg')}}" class="img-fluid" alt="">
                    </a>

                </div>
            </div>


        </div>



        <div class="comment-top" style="padding-left: 300px">
            <h4>Are you sure ??!</h4>
            <div class="comment-bottom">
                <form method="post">

                    {{ form_start(form) }}
                    {{form_widget(form.descriptionCom, {'attr': {'placeholder': 'description here...','required':'true'}})}}
                   <br>
                    <div style="padding-left: 170px">
                        {{form_widget(form.save,{} )}}
                    </div>
                    <br> <br>
                    {{ form_end(form) }}
                </form>

            </div>
        </div>

    </div>



{% endblock %}
