{% extends "::front/common/layout.html.twig" %}

{% block title %}Reclamation{% endblock %}

{% block styles %}

    <style>

        a.custom-link:hover {
            color: #0c9cb7;
        }

        a.custom-link {
            text-decoration: none;
            color: #000;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Reclamations</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">
                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>
                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Feel
                                            free
                                            to check your <br>Reclamations</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>
                            <p>
                            </p>
                            <div class="em-search-wrapper">
                                <div style="display: block"
                                     class="em-events-search em-search css-search has-search-term has-search-geo has-search-main has-advanced advanced-hidden">
                                    <form action="{{ path('reclamation_front_codesuivi') }}"
                                          class="em-events-search-form em-search-form" method="post">
                                        <div class="em-search-main">
                                            <div class="em-search-text em-search-field">
                                                <script type="text/javascript">EM.search_term_placeholder = 'Code suivie';</script>
                                                <label> <span class="screen-reader-text">Code Suivie</span> <input
                                                            class="em-events-search-text em-search-text"
                                                            name="code_search" type="text" value=""
                                                            placeholder="Code suivie">
                                                </label>
                                            </div>

                                            <button class="em-search-submit loading" type="submit">
                                                <!--[if IE 7]><span><![endif]-->
                                                <noscript><img
                                                            alt="Search"
                                                            src="{{ asset('wp-content/plugins/events-manager/includes/images/search-mag.png') }}"/>
                                                </noscript>
                                                <img alt="Search" class="lazyload"
                                                     data-src="{{ asset('wp-content/plugins/events-manager/includes/images/search-mag.png') }}"
                                                     src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E">
                                                <!--[if IE 7]></span><![endif]--> </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="css-events-list">
                                <table class="events-table">
                                    <tbody>
                                    <tr>
                                        <td class="list_text">
                                            <div class="evnt_date">{{ reclamationNote }}</div>
                                            <div class="evnt_title"><h3>
                                                    <a class="custom-link" href="#">Reclamations Notes</a></h3></div>
                                            <div class="evnt_time">{{ recNoteResolu }} résolus</div>
                                            <div class="evnt_button"><a
                                                        href="{{ path('reclamation_front_show_type', {'reclamationType': 'note'}) }}">Details</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="list_text">
                                            <div class="evnt_date">{{ reclamationProf }}</div>
                                            <div class="evnt_title"><h3>
                                                    <a class="custom-link" href="#" class="">Reclamations Prof</a></h3>
                                            </div>
                                            <div class="evnt_time">{{ recProfResolu }} résolus</div>
                                            <div class="evnt_button"><a
                                                        href="{{ path('reclamation_front_show_type', {'reclamationType': 'prof'}) }}">Details</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="list_text">
                                            <div class="evnt_date">{{ reclamationAutres }}</div>
                                            <div class="evnt_title"><h3>
                                                    <a class="custom-link"
                                                       href="#">Reclamations Autres</a></h3></div>
                                            <div class="evnt_time">{{ recAutresResolu }} résolus</div>
                                            <div class="evnt_button"><a
                                                        href="{{ path('reclamation_front_show_type', {'reclamationType': 'autre'}) }}">Details</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container col-6">
                                <hr>
                                <h5 class="elementor-heading-title elementor-size-default text-center">
                                    Feel
                                    free
                                    to fill your <br>Reclamation</h5>
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label>Sujet</label>
                                        <input type="text" class="form-control" name="your-subject" id="">
                                    </div>
                                    <p class="form-group">
                                        <label for="descriptionRec">Your Message</label>
                                        <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea name="your-message" rows="10"
                                                                  class="wpcf7-form-control form-control wpcf7-textarea"
                                                                  aria-invalid="false" id="descriptionRec"
                                                                  required></textarea>
                                                    </span>
                                        <br>
                                        <input type="submit" value="Send"
                                               class="wpcf7-form-control wpcf7-submit">
                                    </p>
                                </form>
                            </div>
                            <p></p>
                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="clearfix"></div>
    </div>
{% endblock %}