{% extends "::front/common/layout.html.twig" %}

{% block title %}Reclamations{% endblock %}


{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Reclamations</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">

                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Thanks
                                            for
                                            your <br>Feedback</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>

                            <div class="css-events-list">
                                <table class="events-table">
                                    <div class="container col-md-4">
                                        <div class="card-body">
                                            <form method="post" action="{{ path('reclamation_front_codesuivi') }}">

                                                <p class="form-group">
                                                    <label for="codeRec">Your Code</label>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <input
                                                                class="em-events-search-text em-search-text form-control"
                                                                name="code_search" type="text" id="codeRec" value=""
                                                                placeholder="Code suivie">
                                                    </span>
                                                    <br>
                                                    <input type="submit" value="Search"
                                                           class="wpcf7-form-control wpcf7-submit">
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
                                          rel="stylesheet"/>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block js %}
{% endblock %}