{% extends "::back/common/layout.html.twig" %}


{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">New Classe</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('classe_all') }}">Classe</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Classe</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Add students to Classe <b>{{ classe.id }}</b></h3>
                    <p class="text-sm mb-0">
                        Fill information of classe.
                    </p>
                </div>
                <div class="card-body">
                    <form action="{{ path('classe_add_new_student_admin', {'classe': classe.id}) }}"
                          method="post">
                        <div class="form-group">
                            <label>Etudiants</label>
                            <select name="students[]" class="form-control" multiple="multiple">
                                {% for student in students %}
                                    <option value="{{ student.id }}">{{ student }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-facebook" type="submit">Add to classe</button>
                    </form>
                    <div class="pt-2">
                        <a href="{{ path('classe_all') }}"> <i class="fas fa-backward"></i> Cancel </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}