{% extends "::back/common/layout.html.twig" %}


{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Liste Classes</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Classe</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liste Classes</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Classe <b>{{ classe }}</b></h3>
                    <p class="text-sm mb-0">
                        Details of classe {{ classe.id }}.
                    </p>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6 text-right">
                            <a href="{{ path('classe_edit_admin', {'classe': classe.id}) }}"
                               class="btn btn-sm btn-neutral btn-round btn-icon"
                               data-toggle="tooltip"
                               data-original-title="Edit classe">
                                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                <span class="btn-inner--text">Edit</span>
                            </a>
                            <a href="{{ path('classe_add_student_admin',{'classe': classe.id}) }}"
                               class="btn btn-sm btn-dark btn-round btn-icon" data-toggle="tooltip"
                               data-original-title="Add student">
                                <span class="btn-inner--icon"><i class="fas fa-columns"></i></span>
                                <span class="btn-inner--text">Add student</span>
                            </a>
                            <button type="button" class="btn btn-sm btn-danger btn-round btn-icon"
                                    data-toggle="modal"
                                    data-target="#modal-notification">
                                <span data-toggle="tooltip" data-original-title="Delete classe">
                                <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                                <span class="btn-inner--text">Delete</span>
                                </span>
                            </button>
                            <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog"
                                 aria-labelledby="modal-notification" aria-hidden="true">
                                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                    <div class="modal-content bg-gradient-danger">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="modal-title-notification">Are you sure?</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="py-3 text-center">
                                                <i class="ni ni-bell-55 ni-3x"></i>
                                                <h4 class="heading mt-4">You should read this!</h4>
                                                <p>Do you really want to delete this class ? This process cannot be
                                                    undone.</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{ path('classe_delete_admin', {'id': classe.id}) }}"
                                                  method="post">
                                                <button type="submit" class="btn btn-white">Ok, Delete it</button>
                                            </form>
                                            <button type="button" class="btn btn-link text-white ml-auto"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p><b>Classe:</b> {{ classe }}</p>
                    <table>
                        <tr>
                            <td>Students:</td>
                            <td></td>
                        </tr>
                        {% for student in classe.etudiants %}
                            <tr>
                                <td></td>
                                <td>
                                    <p>
                                        <a href="{{ path('student_show',{'id': student.id}) }}"
                                           class="font-weight-bold">{{ student }}</a>
                                    </p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                    <p><b>Capacity:</b> {{ classe.capacite }}</p>
                    <a href="{{ path('classe_all') }}"> <i class="fas fa-backward"></i> Return </a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}