{% extends "::front/common/layout.html.twig" %}


{% block title %}Error{% endblock %}

{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
                <div class="container">
                    <div class="error-titles cntr"><h1
                                class="entry-title">{{ status_code }}</h1>
                        <p>&nbsp;
                            Oops! Something went wrong. We're looking to see what happened.</p>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="page">
                <div class="errorentry entry cntr"><p>&nbsp;
                        Try a search below...</p>
                    <div class="cntr error-search">
                        <form class="searchform" method="get" action="">
                            <input type="text" name="s" class="s rad p-border" size="30" value="Search..."
                                   onfocus="if (this.value = '') {this.value = '';}"
                                   onblur="if (this.value == '') {this.value = 'Search...';}">
                            <button class="searchSubmit ribbon">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="clearfix"></div>
    </div>
{% endblock %}