{% extends "::back/common/layout.html.twig" %}


{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Student details</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Classe</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Classe</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Student <b>{{ student }}</b></h3>
                    <p class="text-sm mb-0">
                        Details of student {{ student.id }}.
                    </p>
                </div>
                <div class="card-body">
                    <p><b>CIN:</b> {{ student.CIN }}</p>
                    <p><b>First Name:</b> {{ student.firstName }}</p>
                    <p><b>Last Name:</b> {{ student.lastName }}</p>
                    <p><b>Phone:</b><a href="tel:{{ student.phoneNumber }}"> {{ student.phoneNumber }}</a></p>
                    <p><b>Email:</b><a href="mailto:{{ student.email }}"> {{ student.email }}</a></p>
                    <p><b>Classe:</b> {{ student.classe }}</p>

                    <a href="{{ app.request.headers.get('referer') }}"> <i class="fas fa-backward"></i> Return </a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}