{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reclamationnotes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamationNote in reclamationNotes %}
            <tr>
                <td><a href="{{ path('reclamationnote_show', { 'id': reclamationNote.id }) }}">{{ reclamationNote.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamationnote_show', { 'id': reclamationNote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamationnote_edit', { 'id': reclamationNote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamationnote_new') }}">Create a new reclamationNote</a>
        </li>
    </ul>
{% endblock %}
