.elementor-5602 .elementor-element.elementor-element-510aadb4 > .elementor-container {
    max-width: 1260px
}

.elementor-5602 .elementor-element.elementor-element-510aadb4:not(.elementor-motion-effects-element-type-background), .elementor-5602 .elementor-element.elementor-element-510aadb4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../../uploads/2019/09/ucla-4151522_1920.jpg");
    background-position: center center;
    background-size: cover
}

.elementor-5602 .elementor-element.elementor-element-510aadb4 > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(210deg, rgba(0, 7, 35, .1) 52%, #06112d 100%);
    opacity: .72;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5602 .elementor-element.elementor-element-510aadb4 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 280px 0 110px
}

.elementor-5602 .elementor-element.elementor-element-1ce7ea50 .elementor-heading-title {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase
}

.elementor-5602 .elementor-element.elementor-element-1ce7ea50 > .elementor-widget-container {
    padding: 30px
}

.elementor-5602 .elementor-element.elementor-element-2d2ae41 > .elementor-container {
    max-width: 1260px
}

.elementor-5602 .elementor-element.elementor-element-483efcaf .elementor-heading-title {
    color: #fff;
    font-size: 28px;
    line-height: 1.4em
}

.elementor-5602 .elementor-element.elementor-element-483efcaf > .elementor-widget-container {
    margin: 0
}

.elementor-5602 .elementor-element.elementor-element-6556637 > .elementor-container {
    max-width: 1200px
}

.elementor-5602 .elementor-element.elementor-element-6556637:not(.elementor-motion-effects-element-type-background), .elementor-5602 .elementor-element.elementor-element-6556637 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(210deg, #fff 50%, #f9f9f9 0%)
}

.elementor-5602 .elementor-element.elementor-element-6556637 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: 1
}

.elementor-5602 .elementor-element.elementor-element-6556637 > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-5602 .elementor-element.elementor-element-4c5e5a1.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-5602 .elementor-element.elementor-element-4c5e5a1.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5602 .elementor-element.elementor-element-4c5e5a1 > .elementor-element-populated {
    margin: 0 0 100px;
    padding: 60px
}

.elementor-5602 .elementor-element.elementor-element-cb77bbc {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5602 .elementor-element.elementor-element-cb77bbc .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-cb77bbc .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-133c22e7 {
    text-align: left
}

.elementor-5602 .elementor-element.elementor-element-133c22e7 .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.4em
}

.elementor-5602 .elementor-element.elementor-element-da555d9 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-da555d9 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-da555d9 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-a4f4677:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-5602 .elementor-element.elementor-element-a4f4677 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #17082c
}

.elementor-5602 .elementor-element.elementor-element-a4f4677 > .elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    color: rgba(255, 255, 255, .87);
    padding: 90px 60px
}

.elementor-5602 .elementor-element.elementor-element-a4f4677 > .elementor-element-populated > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5602 .elementor-element.elementor-element-a4f4677 .elementor-element-populated .elementor-heading-title {
    color: #fff
}

.elementor-5602 .elementor-element.elementor-element-a4f4677 .elementor-element-populated a {
    color: #fff
}

.elementor-5602 .elementor-element.elementor-element-e41bc11.elementor-view-stacked .elementor-icon {
    background-color: #309267
}

.elementor-5602 .elementor-element.elementor-element-e41bc11.elementor-view-framed .elementor-icon, .elementor-5602 .elementor-element.elementor-element-e41bc11.elementor-view-default .elementor-icon {
    fill: #309267;
    color: #309267;
    border-color: #309267
}

.elementor-5602 .elementor-element.elementor-element-e41bc11.elementor-position-right .elementor-icon-box-icon {
    margin-left: 16px
}

.elementor-5602 .elementor-element.elementor-element-e41bc11.elementor-position-left .elementor-icon-box-icon {
    margin-right: 16px
}

.elementor-5602 .elementor-element.elementor-element-e41bc11.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 16px
}

.elementor-5602 .elementor-element.elementor-element-e41bc11 .elementor-icon {
    font-size: 36px
}

.elementor-5602 .elementor-element.elementor-element-e41bc11 .elementor-icon i {
    transform: rotate(0deg)
}

.elementor-5602 .elementor-element.elementor-element-e41bc11 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-5602 .elementor-element.elementor-element-e41bc11 .elementor-icon-box-content .elementor-icon-box-title {
    color: #fff
}

.elementor-5602 .elementor-element.elementor-element-572fa62 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-572fa62 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-572fa62 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9.elementor-view-stacked .elementor-icon {
    background-color: #309267
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9.elementor-view-framed .elementor-icon, .elementor-5602 .elementor-element.elementor-element-19a9fd9.elementor-view-default .elementor-icon {
    fill: #309267;
    color: #309267;
    border-color: #309267
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9.elementor-position-right .elementor-icon-box-icon {
    margin-left: 16px
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9.elementor-position-left .elementor-icon-box-icon {
    margin-right: 16px
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 16px
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9 .elementor-icon {
    font-size: 36px
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9 .elementor-icon i {
    transform: rotate(0deg)
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-5602 .elementor-element.elementor-element-19a9fd9 .elementor-icon-box-content .elementor-icon-box-title {
    color: #fff
}

.elementor-5602 .elementor-element.elementor-element-e99e003 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-e99e003 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-e99e003 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-aec62ff.elementor-view-stacked .elementor-icon {
    background-color: #309267
}

.elementor-5602 .elementor-element.elementor-element-aec62ff.elementor-view-framed .elementor-icon, .elementor-5602 .elementor-element.elementor-element-aec62ff.elementor-view-default .elementor-icon {
    fill: #309267;
    color: #309267;
    border-color: #309267
}

.elementor-5602 .elementor-element.elementor-element-aec62ff.elementor-position-right .elementor-icon-box-icon {
    margin-left: 16px
}

.elementor-5602 .elementor-element.elementor-element-aec62ff.elementor-position-left .elementor-icon-box-icon {
    margin-right: 16px
}

.elementor-5602 .elementor-element.elementor-element-aec62ff.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 16px
}

.elementor-5602 .elementor-element.elementor-element-aec62ff .elementor-icon {
    font-size: 36px
}

.elementor-5602 .elementor-element.elementor-element-aec62ff .elementor-icon i {
    transform: rotate(0deg)
}

.elementor-5602 .elementor-element.elementor-element-aec62ff .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-5602 .elementor-element.elementor-element-aec62ff .elementor-icon-box-content .elementor-icon-box-title {
    color: #fff
}

.elementor-5602 .elementor-element.elementor-element-27dbfed > .elementor-container {
    max-width: 1200px
}

.elementor-5602 .elementor-element.elementor-element-27dbfed {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: 1
}

.elementor-5602 .elementor-element.elementor-element-11442df:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-5602 .elementor-element.elementor-element-11442df > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #17082c
}

.elementor-5602 .elementor-element.elementor-element-11442df > .elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    color: rgba(255, 255, 255, .87);
    padding: 90px 60px
}

.elementor-5602 .elementor-element.elementor-element-11442df > .elementor-element-populated > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5602 .elementor-element.elementor-element-11442df .elementor-element-populated .elementor-heading-title {
    color: #fff
}

.elementor-5602 .elementor-element.elementor-element-5c84f93 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-5c84f93 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-5c84f93 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-117802f {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-117802f .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-117802f .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-20e7312 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-20e7312 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-20e7312 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-f1a5d78 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-f1a5d78 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-f1a5d78 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-151a992 > .elementor-element-populated {
    margin: 100px 0 0;
    padding: 60px
}

.elementor-5602 .elementor-element.elementor-element-0750fa5 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5602 .elementor-element.elementor-element-0750fa5 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-0750fa5 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-7eba1cf {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5602 .elementor-element.elementor-element-7eba1cf .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5602 .elementor-element.elementor-element-7eba1cf .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5602 .elementor-element.elementor-element-78573cc > .elementor-widget-container {
    margin: 0 0 60px
}

.elementor-5602 .elementor-element.elementor-element-6f1d7e2 > .elementor-widget-container {
    margin: 0
}

.elementor-5602 .elementor-element.elementor-element-4cc87708 iframe {
    height: 540px;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg)
}

@media (min-width: 768px) {
    .elementor-5602 .elementor-element.elementor-element-322909c6 {
        width: 57.727%
    }

    .elementor-5602 .elementor-element.elementor-element-3d582b3c {
        width: 42.273%
    }

    .elementor-5602 .elementor-element.elementor-element-4c5e5a1 {
        width: 60%
    }

    .elementor-5602 .elementor-element.elementor-element-a4f4677 {
        width: 40%
    }

    .elementor-5602 .elementor-element.elementor-element-11442df {
        width: 40%
    }

    .elementor-5602 .elementor-element.elementor-element-151a992 {
        width: 60%
    }
}

@media (max-width: 1024px) {
    .elementor-5602 .elementor-element.elementor-element-510aadb4 {
        padding: 80px 0
    }

    .elementor-5602 .elementor-element.elementor-element-6556637 {
        margin-top: 0;
        margin-bottom: 0
    }

    .elementor-5602 .elementor-element.elementor-element-4c5e5a1 > .elementor-element-populated {
        margin: 0;
        padding: 20px
    }

    .elementor-5602 .elementor-element.elementor-element-a4f4677 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5602 .elementor-element.elementor-element-27dbfed {
        margin-top: 0;
        margin-bottom: 0
    }

    .elementor-5602 .elementor-element.elementor-element-11442df > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5602 .elementor-element.elementor-element-151a992 > .elementor-element-populated {
        margin: 0;
        padding: 20px
    }

    .elementor-5602 .elementor-element.elementor-element-78573cc > .elementor-widget-container {
        padding: 0
    }

    .elementor-5602 .elementor-element.elementor-element-6f1d7e2 > .elementor-widget-container {
        padding: 0
    }

    .elementor-5602 .elementor-element.elementor-element-3ed66418 > .elementor-element-populated {
        padding: 0
    }
}

@media (max-width: 767px) {
    .elementor-5602 .elementor-element.elementor-element-510aadb4 {
        padding: 40px 0
    }

    .elementor-5602 .elementor-element.elementor-element-1ce7ea50 .elementor-heading-title {
        font-size: 40px
    }

    .elementor-5602 .elementor-element.elementor-element-e41bc11 .elementor-icon-box-icon {
        margin-bottom: 16px
    }

    .elementor-5602 .elementor-element.elementor-element-19a9fd9 .elementor-icon-box-icon {
        margin-bottom: 16px
    }

    .elementor-5602 .elementor-element.elementor-element-aec62ff .elementor-icon-box-icon {
        margin-bottom: 16px
    }
}