.elementor-5590 .elementor-element.elementor-element-21c1263e > .elementor-container {
    max-width: 1260px
}

.elementor-5590 .elementor-element.elementor-element-21c1263e:not(.elementor-motion-effects-element-type-background), .elementor-5590 .elementor-element.elementor-element-21c1263e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../../uploads/2019/09/library-869061_1920.jpg");
    background-position: center center;
    background-size: cover
}

.elementor-5590 .elementor-element.elementor-element-21c1263e > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(0, 7, 35, .52) 0%, #06112d 100%);
    opacity: .72;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5590 .elementor-element.elementor-element-21c1263e {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 280px 0 110px
}

.elementor-5590 .elementor-element.elementor-element-7a564f9b .elementor-heading-title {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase
}

.elementor-5590 .elementor-element.elementor-element-7a564f9b > .elementor-widget-container {
    padding: 30px
}

.elementor-5590 .elementor-element.elementor-element-3b737b3a > .elementor-container {
    max-width: 1260px
}

.elementor-5590 .elementor-element.elementor-element-282fcd4e .elementor-heading-title {
    color: #fff;
    font-size: 28px;
    line-height: 1.4em
}

.elementor-5590 .elementor-element.elementor-element-282fcd4e > .elementor-widget-container {
    margin: 0
}

.elementor-5590 .elementor-element.elementor-element-29183475 > .elementor-container {
    max-width: 1580px
}

.elementor-5590 .elementor-element.elementor-element-29183475:not(.elementor-motion-effects-element-type-background), .elementor-5590 .elementor-element.elementor-element-29183475 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(210deg, #fff 55%, #f9f9f9 0%)
}

.elementor-5590 .elementor-element.elementor-element-29183475 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 120px 0 0
}

.elementor-5590 .elementor-element.elementor-element-29183475 > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5590 .elementor-element.elementor-element-5ab329b > .elementor-container {
    max-width: 1260px
}

.elementor-5590 .elementor-element.elementor-element-5ab329b {
    margin-top: 0;
    margin-bottom: 40px
}

.elementor-5590 .elementor-element.elementor-element-ce83bf2 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5590 .elementor-element.elementor-element-ce83bf2 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-ce83bf2 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-7db302f {
    text-align: left
}

.elementor-5590 .elementor-element.elementor-element-7db302f .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.4em
}

.elementor-5590 .elementor-element.elementor-element-99be872 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5590 .elementor-element.elementor-element-99be872 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-99be872 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-bc-flex-widget .elementor-5590 .elementor-element.elementor-element-7e88d33.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-5590 .elementor-element.elementor-element-7e88d33.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-bc-flex-widget .elementor-5590 .elementor-element.elementor-element-98381a0.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-5590 .elementor-element.elementor-element-98381a0.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5590 .elementor-element.elementor-element-7323fcf {
    font-size: 20px;
    font-style: normal;
    line-height: 1.6em
}

.elementor-5590 .elementor-element.elementor-element-b2b0aac > .elementor-container {
    max-width: 1260px
}

.elementor-5590 .elementor-element.elementor-element-b2b0aac:not(.elementor-motion-effects-element-type-background), .elementor-5590 .elementor-element.elementor-element-b2b0aac > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(160deg, #fff 63%, #f9f9f9 0%)
}

.elementor-5590 .elementor-element.elementor-element-b2b0aac {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0 120px
}

.elementor-5590 .elementor-element.elementor-element-b2b0aac > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5590 .elementor-element.elementor-element-df57d63 > .elementor-container {
    max-width: 1260px
}

.elementor-5590 .elementor-element.elementor-element-ee3eec8 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5590 .elementor-element.elementor-element-ee3eec8 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-ee3eec8 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-aa54718 {
    text-align: left
}

.elementor-5590 .elementor-element.elementor-element-aa54718 .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.4em
}

.elementor-5590 .elementor-element.elementor-element-3ca56f7 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5590 .elementor-element.elementor-element-3ca56f7 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-3ca56f7 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-f77e6a9 {
    font-size: 12px
}

.elementor-5590 .elementor-element.elementor-element-f77e6a9 > .elementor-widget-container {
    margin: 40px 0 0
}

.elementor-5590 .elementor-element.elementor-element-5164daa {
    font-size: 15px
}

.elementor-5590 .elementor-element.elementor-element-262af48 {
    font-size: 15px
}

.elementor-5590 .elementor-element.elementor-element-3b1deed {
    font-size: 15px
}

.elementor-5590 .elementor-element.elementor-element-09023fb > .elementor-container {
    max-width: 1600px
}

.elementor-5590 .elementor-element.elementor-element-080a728 > .elementor-container {
    max-width: 1200px
}

.elementor-5590 .elementor-element.elementor-element-080a728 {
    margin-top: -200px;
    margin-bottom: -80px;
    padding: 0;
    z-index: 1
}

.elementor-5590 .elementor-element.elementor-element-0e216c8:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-5590 .elementor-element.elementor-element-0e216c8 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #17082c
}

.elementor-5590 .elementor-element.elementor-element-0e216c8 > .elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    color: rgba(255, 255, 255, .87);
    padding: 60px 60px 120px
}

.elementor-5590 .elementor-element.elementor-element-0e216c8 > .elementor-element-populated > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5590 .elementor-element.elementor-element-0e216c8 .elementor-element-populated .elementor-heading-title {
    color: #fff
}

.elementor-5590 .elementor-element.elementor-element-1f866daa {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .52);
    --divider-border-width: 60px
}

.elementor-5590 .elementor-element.elementor-element-1f866daa .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-1f866daa .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-47ced38 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5590 .elementor-element.elementor-element-47ced38 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-47ced38 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-3f85af5 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    fill: #6ec1e4;
    color: #6ec1e4;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(110, 193, 228, .23);
    border-radius: 0;
    padding: 0 0 8px
}

.elementor-5590 .elementor-element.elementor-element-3f85af5 .elementor-button:hover, .elementor-5590 .elementor-element.elementor-element-3f85af5 .elementor-button:focus {
    color: rgba(110, 193, 228, .63);
    border-color: rgba(110, 193, 228, .86)
}

.elementor-5590 .elementor-element.elementor-element-3f85af5 .elementor-button:hover svg, .elementor-5590 .elementor-element.elementor-element-3f85af5 .elementor-button:focus svg {
    fill: rgba(110, 193, 228, .63)
}

.elementor-5590 .elementor-element.elementor-element-75cc5a2 > .elementor-element-populated {
    margin: 200px 0 0;
    padding: 60px
}

.elementor-5590 .elementor-element.elementor-element-dfea85e {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5590 .elementor-element.elementor-element-dfea85e .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-dfea85e .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-029dd5a {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5590 .elementor-element.elementor-element-029dd5a .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-029dd5a .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-f57a69b .elementor-heading-title {
    font-family: "PT Serif", Sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5em
}

.elementor-5590 .elementor-element.elementor-element-6a001d8 > .elementor-container {
    max-width: 1260px
}

.elementor-5590 .elementor-element.elementor-element-6a001d8:not(.elementor-motion-effects-element-type-background), .elementor-5590 .elementor-element.elementor-element-6a001d8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(340deg, #fff 55%, #f9f9f9 0%)
}

.elementor-5590 .elementor-element.elementor-element-6a001d8 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 150px 0 120px
}

.elementor-5590 .elementor-element.elementor-element-6a001d8 > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5590 .elementor-element.elementor-element-ac37242 > .elementor-element-populated, .elementor-5590 .elementor-element.elementor-element-ac37242 > .elementor-element-populated > .elementor-background-overlay, .elementor-5590 .elementor-element.elementor-element-ac37242 > .elementor-background-slideshow {
    border-radius: 3px
}

.elementor-5590 .elementor-element.elementor-element-ac37242 > .elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-5590 .elementor-element.elementor-element-ac37242 > .elementor-element-populated > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5590 .elementor-element.elementor-element-acfcb29 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5590 .elementor-element.elementor-element-acfcb29 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-acfcb29 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-0178a7c .elementor-heading-title {
    color: #062a4d
}

.elementor-5590 .elementor-element.elementor-element-0178a7c > .elementor-widget-container {
    margin: 0
}

.elementor-5590 .elementor-element.elementor-element-92ced4d {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5590 .elementor-element.elementor-element-92ced4d .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5590 .elementor-element.elementor-element-92ced4d .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-4ab8873 {
    color: #062a4d
}

.elementor-5590 .elementor-element.elementor-element-a830a1e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-5590 .elementor-element.elementor-element-a830a1e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-5590 .elementor-element.elementor-element-a830a1e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-a830a1e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-5590 .elementor-element.elementor-element-a830a1e .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-5590 .elementor-element.elementor-element-a830a1e .elementor-image-box-content .elementor-image-box-description {
    font-size: 14px;
    line-height: 1.7em
}

.elementor-5590 .elementor-element.elementor-element-a830a1e > .elementor-widget-container {
    margin: 0
}

.elementor-5590 .elementor-element.elementor-element-4ec385e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-5590 .elementor-element.elementor-element-4ec385e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-5590 .elementor-element.elementor-element-4ec385e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-4ec385e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-5590 .elementor-element.elementor-element-4ec385e .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-5590 .elementor-element.elementor-element-4ec385e .elementor-image-box-content .elementor-image-box-description {
    font-size: 14px;
    line-height: 1.7em
}

.elementor-5590 .elementor-element.elementor-element-d052aff.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-5590 .elementor-element.elementor-element-d052aff.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-5590 .elementor-element.elementor-element-d052aff.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-5590 .elementor-element.elementor-element-d052aff .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-5590 .elementor-element.elementor-element-d052aff .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-5590 .elementor-element.elementor-element-d052aff .elementor-image-box-content .elementor-image-box-description {
    font-size: 14px;
    line-height: 1.7em
}

@media (max-width: 1024px) {
    .elementor-5590 .elementor-element.elementor-element-21c1263e {
        padding: 80px 0
    }

    .elementor-5590 .elementor-element.elementor-element-29183475 {
        padding: 0
    }

    .elementor-5590 .elementor-element.elementor-element-b2b0aac {
        padding: 0
    }

    .elementor-5590 .elementor-element.elementor-element-c5110ed > .elementor-element-populated {
        padding: 0
    }

    .elementor-5590 .elementor-element.elementor-element-080a728 {
        margin-top: 0;
        margin-bottom: 0
    }

    .elementor-5590 .elementor-element.elementor-element-0e216c8 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-75cc5a2 > .elementor-element-populated {
        margin: 0;
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-6a001d8 {
        padding: 0
    }
}

@media (max-width: 767px) {
    .elementor-5590 .elementor-element.elementor-element-21c1263e {
        padding: 40px 0
    }

    .elementor-5590 .elementor-element.elementor-element-7a564f9b .elementor-heading-title {
        font-size: 40px
    }

    .elementor-5590 .elementor-element.elementor-element-919c64a > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-7e88d33 > .elementor-element-populated {
        padding: 0
    }

    .elementor-5590 .elementor-element.elementor-element-98381a0 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-7323fcf > .elementor-widget-container {
        padding: 0
    }

    .elementor-5590 .elementor-element.elementor-element-5e31533 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-bab6fa9 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-7b76d98 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-1992a11 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-ac37242 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-4ea57cb > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-a830a1e .elementor-image-box-img {
        margin-bottom: 15px
    }

    .elementor-5590 .elementor-element.elementor-element-fe91b24 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-4ec385e .elementor-image-box-img {
        margin-bottom: 15px
    }

    .elementor-5590 .elementor-element.elementor-element-31197b6 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5590 .elementor-element.elementor-element-d052aff .elementor-image-box-img {
        margin-bottom: 15px
    }
}

@media (min-width: 768px) {
    .elementor-5590 .elementor-element.elementor-element-59fec99f {
        width: 57.727%
    }

    .elementor-5590 .elementor-element.elementor-element-1803d399 {
        width: 42.273%
    }

    .elementor-5590 .elementor-element.elementor-element-919c64a {
        width: 46.349%
    }

    .elementor-5590 .elementor-element.elementor-element-7e88d33 {
        width: 8.175%
    }

    .elementor-5590 .elementor-element.elementor-element-98381a0 {
        width: 45.472%
    }

    .elementor-5590 .elementor-element.elementor-element-5e31533 {
        width: 40%
    }

    .elementor-5590 .elementor-element.elementor-element-bab6fa9 {
        width: 19.992%
    }

    .elementor-5590 .elementor-element.elementor-element-7b76d98 {
        width: 20.008%
    }

    .elementor-5590 .elementor-element.elementor-element-1992a11 {
        width: 20%
    }

    .elementor-5590 .elementor-element.elementor-element-ac37242 {
        width: 30.952%
    }

    .elementor-5590 .elementor-element.elementor-element-4ea57cb {
        width: 23.083%
    }

    .elementor-5590 .elementor-element.elementor-element-fe91b24 {
        width: 23.008%
    }

    .elementor-5590 .elementor-element.elementor-element-31197b6 {
        width: 22.957%
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-5590 .elementor-element.elementor-element-7e88d33 {
        width: 2%
    }

    .elementor-5590 .elementor-element.elementor-element-5e31533 {
        width: 100%
    }

    .elementor-5590 .elementor-element.elementor-element-bab6fa9 {
        width: 33.3%
    }

    .elementor-5590 .elementor-element.elementor-element-7b76d98 {
        width: 33.3%
    }

    .elementor-5590 .elementor-element.elementor-element-1992a11 {
        width: 33.3%
    }

    .elementor-5590 .elementor-element.elementor-element-ac37242 {
        width: 100%
    }

    .elementor-5590 .elementor-element.elementor-element-4ea57cb {
        width: 33%
    }

    .elementor-5590 .elementor-element.elementor-element-fe91b24 {
        width: 33%
    }

    .elementor-5590 .elementor-element.elementor-element-31197b6 {
        width: 33%
    }
}