.elementor-5338 .elementor-element.elementor-element-056b1aa > .elementor-container {
    max-width: 1260px
}

.elementor-5338 .elementor-element.elementor-element-056b1aa:not(.elementor-motion-effects-element-type-background), .elementor-5338 .elementor-element.elementor-element-056b1aa > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(150deg, #fff 53%, #f9f9f9 0%)
}

.elementor-5338 .elementor-element.elementor-element-056b1aa {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0
}

.elementor-5338 .elementor-element.elementor-element-056b1aa > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5338 .elementor-element.elementor-element-c01b7c0 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5338 .elementor-element.elementor-element-c01b7c0 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-c01b7c0 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-423df41 {
    text-align: left
}

.elementor-5338 .elementor-element.elementor-element-423df41 .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.4em
}

.elementor-5338 .elementor-element.elementor-element-7bae5ba {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5338 .elementor-element.elementor-element-7bae5ba .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-7bae5ba .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-44c06e1 .elementor-text-editor {
    text-align: left
}

.elementor-5338 .elementor-element.elementor-element-44c06e1 > .elementor-widget-container {
    margin: 0 0 20px
}

.elementor-5338 .elementor-element.elementor-element-8514d4e .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    fill: #000;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, .23);
    border-radius: 0;
    padding: 0 0 8px
}

.elementor-5338 .elementor-element.elementor-element-8514d4e .elementor-button:hover, .elementor-5338 .elementor-element.elementor-element-8514d4e .elementor-button:focus {
    color: #7a7a7a;
    border-color: #000
}

.elementor-5338 .elementor-element.elementor-element-8514d4e .elementor-button:hover svg, .elementor-5338 .elementor-element.elementor-element-8514d4e .elementor-button:focus svg {
    fill: #7a7a7a
}

.elementor-5338 .elementor-element.elementor-element-42cba3b .elementor-image img {
    filter: brightness(100%) contrast(100%) saturate(29%) blur(0px) hue-rotate(0deg)
}

.elementor-5338 .elementor-element.elementor-element-c766b28 > .elementor-widget-container {
    margin: 0 0 0 -20px
}

.elementor-5338 .elementor-element.elementor-element-e107354 .elementor-image img {
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: #fff
}

.elementor-5338 .elementor-element.elementor-element-e107354 > .elementor-widget-container {
    margin: -80px 0 0
}

.elementor-5338 .elementor-element.elementor-element-2f574615 > .elementor-container {
    max-width: 1000px
}

.elementor-5338 .elementor-element.elementor-element-2f574615 {
    padding: 100px 0
}

.elementor-5338 .elementor-element.elementor-element-2e1ccd32 {
    text-align: center
}

.elementor-5338 .elementor-element.elementor-element-2e1ccd32 .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.9em;
    letter-spacing: 2.6px
}

.elementor-5338 .elementor-element.elementor-element-cb71df2 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5338 .elementor-element.elementor-element-cb71df2 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-center: 0
}

.elementor-5338 .elementor-element.elementor-element-cb71df2 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-5714c0b5 {
    text-align: center
}

.elementor-5338 .elementor-element.elementor-element-5714c0b5 .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.4em
}

.elementor-5338 .elementor-element.elementor-element-5b2f2863 > .elementor-container {
    max-width: 1260px
}

.elementor-5338 .elementor-element.elementor-element-5b2f2863:not(.elementor-motion-effects-element-type-background), .elementor-5338 .elementor-element.elementor-element-5b2f2863 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #17082d;
    background-image: url("../../../uploads/2019/09/gentelman-3800852_1920.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 45% auto
}

.elementor-5338 .elementor-element.elementor-element-5b2f2863 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    color: rgba(255, 255, 255, .79);
    padding: 100px 0
}

.elementor-5338 .elementor-element.elementor-element-5b2f2863 > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5338 .elementor-element.elementor-element-5b2f2863 .elementor-heading-title {
    color: #fff
}

.elementor-5338 .elementor-element.elementor-element-5b2f2863 a {
    color: #6ec1e4
}

.elementor-5338 .elementor-element.elementor-element-7f48dd77:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-5338 .elementor-element.elementor-element-7f48dd77 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #17082d
}

.elementor-5338 .elementor-element.elementor-element-7f48dd77 > .elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-5338 .elementor-element.elementor-element-7f48dd77 > .elementor-element-populated > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5338 .elementor-element.elementor-element-21acf0f9 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .52);
    --divider-border-width: 60px
}

.elementor-5338 .elementor-element.elementor-element-21acf0f9 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-21acf0f9 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-65bb9475 {
    text-align: left
}

.elementor-5338 .elementor-element.elementor-element-65bb9475 .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.4em
}

.elementor-5338 .elementor-element.elementor-element-608d0d67 {
    --divider-border-style: solid;
    --divider-border-color: rgba(110, 193, 228, .56);
    --divider-border-width: 1px
}

.elementor-5338 .elementor-element.elementor-element-608d0d67 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-608d0d67 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-59437ad0 .elementor-text-editor {
    text-align: left
}

.elementor-5338 .elementor-element.elementor-element-59437ad0 > .elementor-widget-container {
    margin: 0 0 20px
}

.elementor-5338 .elementor-element.elementor-element-475fbbb6 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    fill: #6ec1e4;
    color: #6ec1e4;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(110, 193, 228, .23);
    border-radius: 0;
    padding: 0 0 8px
}

.elementor-5338 .elementor-element.elementor-element-475fbbb6 .elementor-button:hover, .elementor-5338 .elementor-element.elementor-element-475fbbb6 .elementor-button:focus {
    color: rgba(110, 193, 228, .63);
    border-color: rgba(110, 193, 228, .86)
}

.elementor-5338 .elementor-element.elementor-element-475fbbb6 .elementor-button:hover svg, .elementor-5338 .elementor-element.elementor-element-475fbbb6 .elementor-button:focus svg {
    fill: rgba(110, 193, 228, .63)
}

.elementor-5338 .elementor-element.elementor-element-673d8250 > .elementor-container {
    max-width: 1240px
}

.elementor-5338 .elementor-element.elementor-element-673d8250 {
    padding: 100px 0 60px
}

.elementor-5338 .elementor-element.elementor-element-6f1c21c > .elementor-container {
    max-width: 1260px
}

.elementor-5338 .elementor-element.elementor-element-6f1c21c:not(.elementor-motion-effects-element-type-background), .elementor-5338 .elementor-element.elementor-element-6f1c21c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(30deg, #fff 51%, #f9f9f9 0%)
}

.elementor-5338 .elementor-element.elementor-element-6f1c21c {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0 80px
}

.elementor-5338 .elementor-element.elementor-element-6f1c21c > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5338 .elementor-element.elementor-element-986ff56 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 60px
}

.elementor-5338 .elementor-element.elementor-element-986ff56 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-986ff56 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-ff79315 .elementor-heading-title {
    color: #000;
    font-size: 60px;
    font-weight: 800
}

.elementor-5338 .elementor-element.elementor-element-b6ef108 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5338 .elementor-element.elementor-element-b6ef108 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-b6ef108 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-31fcbe3 .elementor-heading-title {
    color: #000
}

.elementor-5338 .elementor-element.elementor-element-31fcbe3 > .elementor-widget-container {
    padding: 0
}

.elementor-5338 .elementor-element.elementor-element-f162e08 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    fill: #000;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, .23);
    border-radius: 0;
    padding: 0 0 8px
}

.elementor-5338 .elementor-element.elementor-element-f162e08 .elementor-button:hover, .elementor-5338 .elementor-element.elementor-element-f162e08 .elementor-button:focus {
    color: #7a7a7a;
    border-color: #000
}

.elementor-5338 .elementor-element.elementor-element-f162e08 .elementor-button:hover svg, .elementor-5338 .elementor-element.elementor-element-f162e08 .elementor-button:focus svg {
    fill: #7a7a7a
}

.elementor-5338 .elementor-element.elementor-element-f162e08 > .elementor-widget-container {
    margin: 20px 0 0
}

.elementor-bc-flex-widget .elementor-5338 .elementor-element.elementor-element-b662747.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-5338 .elementor-element.elementor-element-b662747.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5338 .elementor-element.elementor-element-b662747 > .elementor-element-populated {
    padding: 0 40px 40px
}

.elementor-5338 .elementor-element.elementor-element-dcea2ab > .elementor-widget-container {
    margin: 0
}

.elementor-5338 .elementor-element.elementor-element-e3531ea > .elementor-container {
    max-width: 1260px
}

.elementor-5338 .elementor-element.elementor-element-e3531ea:not(.elementor-motion-effects-element-type-background), .elementor-5338 .elementor-element.elementor-element-e3531ea > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(150deg, #fafafa 53%, #fff 0%)
}

.elementor-5338 .elementor-element.elementor-element-e3531ea {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0
}

.elementor-5338 .elementor-element.elementor-element-e3531ea > .elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5338 .elementor-element.elementor-element-adb4d18 .elementor-heading-title {
    line-height: 1.4em
}

.elementor-5338 .elementor-element.elementor-element-adb4d18 > .elementor-widget-container {
    margin: 0
}

.elementor-5338 .elementor-element.elementor-element-104f95b .elementor-heading-title {
    color: #000
}

.elementor-5338 .elementor-element.elementor-element-104f95b > .elementor-widget-container {
    margin: 20px 0 0
}

.elementor-5338 .elementor-element.elementor-element-e79f2c1 {
    --divider-border-style: solid;
    --divider-border-color: #d1d1d1;
    --divider-border-width: 1px
}

.elementor-5338 .elementor-element.elementor-element-e79f2c1 .elementor-divider-separator {
    width: 60px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5338 .elementor-element.elementor-element-e79f2c1 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-5338 .elementor-element.elementor-element-f2e4c30 > .elementor-widget-container {
    margin: 20px 0 0
}

.elementor-5338 .elementor-element.elementor-element-077be6b > .elementor-widget-container {
    margin: 0 0 20px
}

.elementor-5338 .elementor-element.elementor-element-23acc38 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    fill: #000;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, .23);
    border-radius: 0;
    padding: 0 0 8px
}

.elementor-5338 .elementor-element.elementor-element-23acc38 .elementor-button:hover, .elementor-5338 .elementor-element.elementor-element-23acc38 .elementor-button:focus {
    color: #7a7a7a;
    border-color: #000
}

.elementor-5338 .elementor-element.elementor-element-23acc38 .elementor-button:hover svg, .elementor-5338 .elementor-element.elementor-element-23acc38 .elementor-button:focus svg {
    fill: #7a7a7a
}

.elementor-5338 .elementor-element.elementor-element-23acc38 > .elementor-widget-container {
    margin: 20px 0 0
}

.elementor-5338 .elementor-element.elementor-element-6e0716c .elementor-image img {
    filter: brightness(100%) contrast(100%) saturate(29%) blur(0px) hue-rotate(0deg)
}

.elementor-5338 .elementor-element.elementor-element-243acff > .elementor-widget-container {
    margin: 0 0 0 -20px
}

.elementor-5338 .elementor-element.elementor-element-34f8ee4 .elementor-image img {
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: #fff
}

.elementor-5338 .elementor-element.elementor-element-34f8ee4 > .elementor-widget-container {
    margin: -80px 0 0
}

@media (min-width: 768px) {
    .elementor-5338 .elementor-element.elementor-element-61796d3 {
        width: 37.143%
    }

    .elementor-5338 .elementor-element.elementor-element-32bff07 {
        width: 8.651%
    }

    .elementor-5338 .elementor-element.elementor-element-30eafbe {
        width: 54.202%
    }

    .elementor-5338 .elementor-element.elementor-element-0cf2922 {
        width: 48.644%
    }

    .elementor-5338 .elementor-element.elementor-element-12d6c7d {
        width: 51.356%
    }

    .elementor-5338 .elementor-element.elementor-element-2f0a5e1f {
        width: 55%
    }

    .elementor-5338 .elementor-element.elementor-element-7f48dd77 {
        width: 45%
    }

    .elementor-5338 .elementor-element.elementor-element-67b2335 {
        width: 52.754%
    }

    .elementor-5338 .elementor-element.elementor-element-b662747 {
        width: 47.246%
    }

    .elementor-5338 .elementor-element.elementor-element-9b2621b {
        width: 37.143%
    }

    .elementor-5338 .elementor-element.elementor-element-f32ec39 {
        width: 8.651%
    }

    .elementor-5338 .elementor-element.elementor-element-9143b68 {
        width: 54.202%
    }

    .elementor-5338 .elementor-element.elementor-element-8a8ff77 {
        width: 37.239%
    }

    .elementor-5338 .elementor-element.elementor-element-5b14677 {
        width: 62.761%
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-5338 .elementor-element.elementor-element-61796d3 {
        width: 100%
    }

    .elementor-5338 .elementor-element.elementor-element-30eafbe {
        width: 100%
    }

    .elementor-5338 .elementor-element.elementor-element-7f48dd77 {
        width: 100%
    }

    .elementor-5338 .elementor-element.elementor-element-9b2621b {
        width: 100%
    }

    .elementor-5338 .elementor-element.elementor-element-9143b68 {
        width: 100%
    }
}

@media (max-width: 1024px) {
    .elementor-5338 .elementor-element.elementor-element-056b1aa {
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-2f574615 {
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-5b2f2863 {
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-673d8250 {
        padding: 10px 0
    }

    .elementor-5338 .elementor-element.elementor-element-6f1c21c {
        padding: 60px 0
    }

    .elementor-5338 .elementor-element.elementor-element-67b2335 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-b662747 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-e3531ea {
        padding: 0
    }
}

@media (max-width: 767px) {
    .elementor-5338 .elementor-element.elementor-element-61796d3 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-30eafbe > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-c766b28 > .elementor-widget-container {
        margin: 0
    }

    .elementor-5338 .elementor-element.elementor-element-12d6c7d > .elementor-element-populated {
        margin: 0;
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-e107354 .elementor-image img {
        border-width: 20px 0 0
    }

    .elementor-5338 .elementor-element.elementor-element-e107354 > .elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-6747cde3 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-7f48dd77 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-78e5333b > .elementor-element-populated {
        padding: 20px 0 0
    }

    .elementor-5338 .elementor-element.elementor-element-6f1c21c {
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-67b2335 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-ff79315 .elementor-heading-title {
        font-size: 40px
    }

    .elementor-5338 .elementor-element.elementor-element-ff79315 > .elementor-widget-container {
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-b662747 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-9b2621b > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-104f95b > .elementor-widget-container {
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-9143b68 > .elementor-element-populated {
        padding: 20px
    }

    .elementor-5338 .elementor-element.elementor-element-243acff > .elementor-widget-container {
        margin: 0
    }

    .elementor-5338 .elementor-element.elementor-element-5b14677 > .elementor-element-populated {
        margin: 0;
        padding: 0
    }

    .elementor-5338 .elementor-element.elementor-element-34f8ee4 .elementor-image img {
        border-width: 20px 0 0
    }

    .elementor-5338 .elementor-element.elementor-element-34f8ee4 > .elementor-widget-container {
        margin: 0;
        padding: 0
    }
}