{% extends "::front/home.html.twig" %}
{% block jsm %}





{% endblock %}

{% block content %}

{#
<div class="container_alt page tmnf_page">
    <div id="core">
        <div class="eightcol first" id="content">
            <div class="item post-1118 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-post-style">
    <table border="0" style="margin-left: 375px">
        <tr>

            <th>Sujet</th>
            <th>Description</th>
            <th>Branche</th>
            <th></th>




        </tr>


        {% for elt in stages     %}


            <td>{{ elt.sujet}}</td>
            <td>{{ elt.description }}</td>
            <td>{{ elt.branche}}</td>

            <td><a href="{{ path('postulerstage',{'id':elt.IdStage})}}">
                <button>Postuler</button></a></td>

            {# <td><a href="{{ path('deletestage',{'id':elt.IdStage})}}">
                    <button>Supprimer</button></a></td>

            <td><a href="{{ path('club8_edit',{'id':elt.id})}}">
                    <button>modifier</button></a></td>

            <td><a href="{{ path('updatestage',{'id':elt.IdStage})}}">
                    <button>modifier</button></a></td>
 #}
         {#  </tr>

        {% endfor %}


    </table>

                </div>
        </div>
    </div>
    #}

    <!DOCTYPE html>
    <html lang="en-US">
<head>
    <script src="{{ asset('js/vendor/modernizr-3.5.0.min.js') }}"></script>

    <!-- Main Wrapper End Here -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <!-- jquery 3.3.1 -->
    <script src="{{ asset('js/vendor/jquery-3.3.1.min.js') }}"></script>
    <!-- Countdown js -->
    <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
    <!-- Mobile menu js -->
    <script src="{{ asset('js/jquery.meanmenu.min.js') }}"></script>
    <!-- ScrollUp js -->
    <script src="{{ asset('js/jquery.scrollUp.js') }}"></script>
    <!-- Fancybox js -->
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
    <!-- Jquery nice select js -->
    <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
    <!-- Jquery ui price slider js -->
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <!-- Owl carousel -->
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <!-- Bootstrap popper js -->
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Plugin js -->
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    </head>

    <body class="post-template post-template-template-left-sidebar post-template-template-left-sidebar-php single single-post postid-1118 single-format-standard wp-embed-responsive wp-featherlight-captions elementor-default">
    <div class="upper tranparent_header tmnf-sidebar-active ">
        <div class="tranz " id="header" itemscope itemtype="https://schema.org/WPHeader">


            <div class="clearfix"></div>
        </div>
        <div class="wrapper p-border">
            <div class="postbar postbarLeft post-1118 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-post-style">

                <div class="container_alt page tmnf_page">
                    <div id="core">
                        <div class="eightcol first" id="content">
                            <div class="item post-1118 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-post-style">
                                <div class="entry">
                                    <table border="0" style="margin-left: 0px"id="myTable">
                                        <tr>

                                            <th>Sujet</th>
                                            <th>Description</th>
                                            <th>Branche</th>
                                            <th></th>




                                        </tr>

                                        <tr>

                                        {% for elt in stages     %}


                                        <td data-toggle="modal" data-target="#product-window">{{ elt.sujet}}</td>
                                        <td>{{ elt.description }}</td>
                                        <td>{{ elt.branche}}</td>

                                        <td><a href="{{ path('postulerstage',{'id':elt.IdStage})}}">
                                                <button>Postuler</button></a></td>

                                            </tr>

                                        {% endfor %}


                                    </table>






                                        <div class="clearfix"></div>
                                </div>

                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="fourcol woocommerce p-border" id="sidebar" style="margin-top: 5px">
                            <div class="widgetable p-border">
                                <div class="sidebar_item"><h5 class="widget">Sujets </h5>

                                <input class="form-control" id="inputmarque" onkeyup="recherchsujet(this.value)"  placeholder="Recherche par sujet .. "  />

                                  <ul class="sidbar-style " id="list-marque">
                                        {% for elt in stages     %}
                                        <li class="form-check">
                                            <input class="form-check-input-marq" value="{{elt.idStage}}"  type="checkbox"   data_id="{{elt.idStage}}" name="check"  >

                                            <label class="form-check-label"  > {{elt.sujet}}  </label>
                                        </li>
                                        {% endfor     %}
                                    </li>
                                        </ul>
                                  {#  <ul class="sidbar-style " id="list-marque">
                                        <li>
                                            <input class="form-check-input-marq" value="Business"  type="checkbox"   data_id="Business" name="check">

                                            <label class="form-check-label" > Business  </label>
                                        </li>
                                        <li>
                                            <input class="form-check-input-marq" value="Data_science"  type="checkbox"   data_id="Data_science" name="check">

                                            <label class="form-check-label" > Data_science  </label>
                                        </li>
                                        <li>
                                            <input class="form-check-input-marq" value="Genie_logiciel"  type="checkbox"   data_id="Genie_logiciel" name="check">

                                            <label class="form-check-label" > Genie_logiciel  </label>
                                        </li>
                                        <li>
                                            <input class="form-check-input-marq" value="Informatique"  type="checkbox"   data_id="Informatique" name="check">

                                            <label class="form-check-label" > Informatique </label>
                                        </li>


                                    </ul>#}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>


    </div>

    <script type="text/javascript">
        var stages = [];
        var stagess="" ;
        function check() {
            for (i = 0; i < document.test.check.length; i++) {
                if (document.test.check[i].checked)
                    // cochée
                    alert(i + 'coche');
                //else
                // pas cochée
            }
        }
        $(document).on('click', '.form-check-input-marq', function () {
            debugger;

            // $('.form-check-input-marq').bind('click', function () {
            // var thisss = $(this);
            $('.loadingcat').show();
            var id = $(this).attr('data_id');
            var indc = stages.indexOf(id);

            if (indc === -1) {
                stages.push(id);
            } else {
                stages.splice(indc, 1);
            }
            $.ajax({
                url: "{{path("stageswithfiltre")}}",
                data: {stages: stages.toString()},
                type: "POST",
                cache: false,
                success: function (data) {

                    $('.renderlist').html(data)
                    $('.loadingcat').hide();
                }
            });
        });

        function recherchsujet(value) {
            debugger;

            $.ajax({
                url: "{{path("recherchsujet")}}",
                data: {value: value, stages: stages},
                type: "POST",
                cache: false,
                success: function (data) {
                    if(data == ''){
                        swal("aucun sujet trouvé !", {
                            icon: "error",
                            buttons: false,
                            timer: 2000,
                        });
                        return;
                    }

                    $('#list-marque').html(data);

                }
            });
        }
        {# function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            //filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }#}

    </script>


    </body>

    </html>


{% endblock %}


