{% extends "::front/home.html.twig" %}
{% block content %}

    <form action="{{ path('adddemande') }}" method="POST" enctype="multipart/form-data" style="margin-left: 200px">
        <h4>
            <a href="#">Sujet :<input style="border:0px" type="text" name="sujet" value={{ stage.sujet }}><br/> </a>
        </h4></li>
        <h4><a href="#">Description :<input style="border:0px" type="text" name="description"
                                            value={{ stage.description }}><br/> </a></h4></li>
        <h4><a href="#">Branche :<input style="border:0px" type="text" name="branche" value={{ stage.branche }}><br/>
            </a></h4></li>

        <h5><a href="#"> Tapez la lettre de motivation :</a></h5><br/>
        <textarea class="form-control" rows="2" name="LettreMotivation"></textarea><br/>

        <div class="form-group">
            <input type="file" name="fileToUpload" id="fileToUpload">
        </div>
        <h5><a href="#">tapez votre adresse Unitech :</a>
            <input style="border:0px" type="text" name="adresse"
                   placeholder="......@unitech"><br/></h5>
        <button> Enregistrer</button>
    </form>

    {#<form  action="{{path('adddemande')}}" method="POST" enctype="multipart/form-data">
        {# <div class="form-group">
             <div class="input-group">
                 <div class="input-group-prepend">
                     <span class="input-group-text"> Sujet</span>
                 </div>
                 <textarea class="form-control" rows="3" name="sujet">{{ stage.sujet }}</textarea>
             </div>
         </div>>#}
    {#Sujet : <input style="border:0px" type ="text"name="sujet"value={{ stage.sujet }}><br/>
     Description : <input style="border:0px" type ="text"name="description"value={{ stage.description }}><br/>
     Branche : <input style="border:0px" type ="text"name="branche"value={{ stage.branche  }}><br/>
     Tapez la  lettre de motivation :<br/><br/>
     <textarea class="form-control" rows="3" name="LettreMotivation"></textarea><br/>





     <div class="form-group"   >

         <input type="file" name="fileToUpload[]" id="fileToUpload"  multiple="multiple" >


     </div>
     tapez votre adresse Unitech  : <input style="border:0px" type ="text"name="adresse" placeholder="......@unitech"><br/>
 <button> Enregistrer </button></form>


     #}
{% endblock %}