{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Num_classe</th>
                <td>{{ classe.numclasse }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ classe.niveau }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ classe.capacite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('classe_edit', { 'id': classe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
