{% extends "::back/common/layout.html.twig" %}

{% block body %}
    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
    <div class="form-style-5" style="margin-top: 100px">
{{ form(f) }}
    </div>
    {% endif %}
{% endblock %}