{% extends "::front/common/layout.html.twig" %}

{% block body %}
<div class="postbar postbarNone post-5426 page type-page status-publish hentry">
    {% block header %}
        <div class="page-header">
            <noscript>
                <img alt="Events"
                     class="page-header-img"/>
            </noscript>
            <img alt="Events" class="page-header-img lazyloaded"
                 data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                 src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
            <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Absence</h1>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <div class="container page tmnf_page">
            <div id="core">
                <div class="entry">
                    <div id="em-wrapper">
                        {% if app.user.hasRole('ROLE_STUDENT') %}
                            <h2> votre absence : </h2>
                            <style>
                                #table {
                                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                                    border-collapse: collapse;
                                    width: 100%;
                                }

                                #table td, #table th {
                                    border: 1px solid #ddd;
                                    padding: 8px;
                                }

                                #table tr:nth-child(even) {
                                    background-color: #f2f2f2;
                                }

                                #table tr:hover {
                                    background-color: #ddd;
                                }

                                #table th {
                                    padding-top: 12px;
                                    padding-bottom: 12px;
                                    text-align: left;
                                    background-color: #640bc3;
                                    color: white;
                                }

                                #TitreBO {
                                    font-size: 48px;
                                    text-shadow: -1px -1px black, 1px 1px #a00, -3px 0 4px #000;
                                    font-family: "Segoe print", Arial, Helvetica, sans-serif;
                                    color: #8bc34a;
                                    padding: 64px 0 0 0;
                                    margin: 16px auto;
                                    font-weight: lighter;
                                    -moz-box-shadow: none;
                                    -webkit-box-shadow: none;
                                    box-shadow: black;
                                    text-align: center;
                                    display: block;
                                }
                            </style>
                            <table id="table" class="table-responsive">
                                <thead>
                                <tr>
                                    <th>
                                        <span>Cin étudiant</span>
                                    </th>
                                    <th>
                                        <span>Nom</span>
                                    </th>
                                    <th>
                                        <span>Prénom</span>
                                    </th>
                                    <th>
                                        <span>Numéro de séance</span>
                                    </th>
                                    <th>
                                        <span>Classe</span>
                                    </th>
                                    <th>
                                        <span>Matiére</span>
                                    </th>
                                    <th>
                                        <span>Nombre absence</span>
                                    </th>
                                    <th>
                                        <span>Remarque</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for elt in absences %}
                                        <td>
                                            <span>{{ elt.user.CIN }}</span>
                                        </td>
                                        <td>
                                            <span>{{ elt.user.FirstName }}</span>
                                        </td>
                                        <td>
                                            <span>{{ elt.user.LastName }}</span>
                                        </td>
                                        <td>
                                            <span>{{ elt.sceance.IdSeance }}</span>
                                        </td>
                                        <td>
                                            <span>{{ elt.Classe.NumClasse }}</span>
                                        </td>
                                        <td>
                                            <span>{{ elt.Matiere.NomMat }}</span>
                                        </td>
                                        <td>
                                            <span>{{ elt.Absence }}</span>
                                        </td>
                                        {#<td align="center"><a href="file://C:\wamp64\www\unitech\public1\uploads\{{ elt.getImageEvent() }}   " target="_blank">link text</a>  </td>#}
                                        <td align="center" style="max-width: 30px">
                                            <a href="{{ asset('public1/uploads/' ~ elt.getImageEvent()) }}">
                                                <img src="{{ asset('public1/uploads/' ~ elt.getImageEvent()) }}">
                                            </a>
                                        </td>

                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        <div class="container text-center">
                            {% for x in test %}
                                {{ barcode({code: 'In total you have '~ x.Absence |trans ~ ' Absence!', type: 'qrcode', format: 'svg', width: 10, height: 10, color: 'black'}) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

    {% endblock %}
