{% extends "::front/common/layout.html.twig" %}
{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Gestion Absence</h1>
                </div>
            </div>
        {% endblock %}
{% block content %}



<h2> les absences des étudiants </h2>

    <style>
        .alert-success {
            color: #fff;
            border-color: #87908c;
            background-color: #afb3b1;
            width: 50%;
        }
    </style>
    <center>
        {% for message in app.flashes('successmodif') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </center>

    <style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table tr:nth-child(even){background-color: #f2f2f2;}

    #table tr:hover {background-color: #ddd;}

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #640bc3;
        color: white;
    }
    #TitreBO
    {
        font-size: 48px;
        text-shadow: -1px -1px black, 1px 1px #a00, -3px 0 4px #000;
        font-family:"Segoe print", Arial, Helvetica, sans-serif;
        color: #8bc34a;
        padding:64px 0 0 0;
        margin:16px auto;
        font-weight:lighter;
        -moz-box-shadow:none;
        -webkit-box-shadow: none;
        box-shadow:black;
        text-align:center;
        display:block;
    }
</style>

<table id="table" style="margin-left: 51px;margin-top: 5%">
    <thead >
    <tr>
        <th>
            <span style="width: 90px;">Cin</span>
        </th>
        <th>
            <span style="width: 90px;">Nom</span>
        </th>
        <th>
            <span style="width: 90px;">Prénom</span>
        </th>
        <th>
            <span style="width: 90px;">Numéro de séance</span>
        </th>
        <th>
            <span style="width: 90px;">Classe</span>
        </th>
        <th>
            <span style="width: 90px;">Matiére</span>
        </th>
        <th>
            <span style="width: 90px;">Nombre absence</span>
        </th>

        <th>
            <span style="width: 90px;">Remarque</span>
        </th>

      </tr>
    </thead>
    <tbody >
    <tr>
      {% for elt in absences     %}


     <td>
         <span style="width: 90px;">{{ elt.user.CIN }}</span>
     </td>
      <td>
          <span style="width: 90px;">{{ elt.user.FirstName}}</span>
      </td>
      <td>
          <span style="width: 90px;">{{ elt.user.LastName}}</span>
      </td>
    <td>
        <span style="width: 90px;">{{ elt.sceance.IdSeance}}</span>
    </td>
    <td>
        <span style="width: 90px;">{{ elt.Classe.NumClasse}}</span>
   </td>
   <td>
       <span style="width: 90px;">{{ elt.Matiere.NomMat}}</span>
   </td>
    <td>
        <span style="width: 90px;">{{ elt.Absence}}</span>
       {# {{ barcode({code: 'In total you have '~ elt.Absence |trans ~ ' Absence!', type: 'qrcode', format: 'svg', width: 10, height: 10, color: 'black'}) }}#}

    </td>
        <td align="center"><a href="/unitech/public1/uploads\{{ elt.getImageEvent() }} "><img src="/unitech\public1\uploads\{{ elt.getImageEvent() }}   "></a>  </td>




        <td style="background: none;border-right: none   " >
        <span style="width: 113px;">
        <a type="button" class="btn btn-success btn-icon-sm" href="{{ path('absence_deleteabs',{'id':elt.Idabsence})}}"style="margin-left: 20%">
                <i class="flaticon2-plus"></i>Supprimer</a>
            </span>
        </td>
        <td style="background: none;border-right: none   " >
        <span style="width: 113px;">
        <a type="button" class="btn btn-success btn-icon-sm" href="{{ path('absence_updateabs',{'id':elt.Idabsence})}}"style="margin-left: 20%">
                 <i class="flaticon2-plus"></i>modifier</a>
            </span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
{% endblock %}