
{% extends "::back/common/layout.html.twig" %}
{% block body %}
    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header"><i class="fa fa-table"></i> Liste de séance</div>
        <div class="card-body">
            <style>
                .alert-success {
                    color: #fff;
                    border-color: #87908c;
                    background-color: #afb3b1;
                    width: 50%;
                }
            </style>
            <center>
                {% for message in app.flashes('successmodif') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </center>

            <div class="table-responsive">
                <table id="default-datatable" class="table table-bordered">
                    <thead>


    <tr>
        <th>Numéro de seance</th>
        <th>heure</th>
        <th>jour</th>
    </tr>
    </thead>
    <tbody >
    <tr>
    {% for elt in sceances     %}

        <td>
           {{ elt.idSeance }}
        </td>
        <td>
           {{ elt.heure|date}}
        </td>
        <td>
            {{ elt.jour }}
        </td>
        <td>
        <a  href="{{ path('absence_delete',{'id':elt.idSeance})}}">
            <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1">
        Supprimer</button></a>

        </td>
       <td>
        <a  href="{{ path('absence_update',{'id':elt.idSeance})}}">
            <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1">
                Modifier</button></a>
                        </td>

    </tr>
    {% endfor %}

    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
