{% extends "::back/common/layout.html.twig" %}
{% block body %}
    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
<h2> Recherche sceance par jour</h2>


    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Liste de séance</div>
            <div class="card-body">
                <div class="table-responsive">
                   <form method="post">
                        <input type="text" name="jour">
                        <input type="submit" value="recherche">
                    </form>
                    <a style="margin-left: 900px" href="{{ path('absence_ajoutsceance') }}" class="btn btn-sm btn-primary btn-create"> <b>+</b> ajouter scéance</a>

                    <table class="table" id="myTable">

                        <thead>


                        <tr>
                            <th>Numéro de seance</th>
                            <th>heure</th>
                            <th>jour</th>
                            <th>supprimer</th>
                            <th>modifier</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr>
                            {% for elt in sceance     %}

                            <td>
                                {{ elt.idSeance }}
                          </td>
                            <td>
                                {{ elt.heure|date}}
                            </td>
                            <td>
                                {{ elt.jour }}
                            </td>
                        <td>
                                <a onclick="confirm('Voulez-vous vraiment supprimer le matiére ')" href="{{ path('absence_delete',{'id':elt.idSeance})}}">
                                    <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1">
                                        Supprimer</button></a>

                            </td>
                            <td>
                                <a  href="{{ path('absence_update',{'id':elt.idSeance})}}">
                                    <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1">
                                        Modifier</button></a>
                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <a style="margin-right: 900px" href="{{ path('absence_chart') }}" class="btn btn-sm btn-primary btn-create"> voire les statistiques </a>
    {% endif %}
{% endblock %}
