{% extends "::back/common/layout.html.twig" %}


    {% block body %}
        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="form-style-5" style="margin-top: 100px">
{{ form(f) }}
        </div>

<table border="1">
    <tr>
        <th>Cin étudiant</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de séance</th>
        <th>Nombre absence</th>

    </tr>
    {% for elt in absence     %}
    <tr>

        <td>{{ elt.user.CIN }}</td>
        <td>{{ elt.user.FirstName}}</td>
        <td>{{ elt.user.LastName}}</td>
        <td>{{ elt.sceance.IdSeance}}</td>
        <td>{{ elt.Absence}}</td>
        <td>
            <a onclick="confirm('Voulez-vous vraiment supprimer le matiére ')" href="{{ path('absence_delete',{'id':elt.Idabsence})}}">
                <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1">
                    Supprimer</button></a>

        </td>

    </tr>
    {% endfor %}


</table>
{% endif %}
{% endblock %}
