{% extends "::front/common/layout.html.twig" %}
{% block body %}
<div class="postbar postbarNone post-5426 page type-page status-publish hentry">
    {% block header %}
        <div class="page-header">
            <noscript>
                <img alt="Events"
                     class="page-header-img"/>
            </noscript>
            <img alt="Events" class="page-header-img lazyloaded"
                 data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                 src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
            <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Gestion Absence</h1>
            </div>
        </div>
    {% endblock %}

    {% block content %}
{{ form(f) }}

<table border="1">
    <tr>
        <th>Cin étudiant</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de séance</th>
        <th>Nombre absence</th>

    </tr>
    {% for elt in absence     %}
    <tr>

        <td>{{ elt.user.CIN }}</td>
        <td>{{ elt.user.FirstName}}</td>
        <td>{{ elt.user.LastName}}</td>
        <td>{{ elt.sceance.IdSeance}}</td>
        <td>{{ elt.Absence}}</td>
        <td style="background: none;border-right: none   " >
        <span style="width: 113px;">
        <a type="button" class="btn btn-success btn-icon-sm" href="{{ path('absence_deleteabs',{'id':elt.Idabsence})}}"style="margin-left: 20%">
                <i class="flaticon2-plus"></i>Supprimer</a>
            </span>
        </td>
    </tr>
    {% endfor %}


</table>
 {% endblock %}
{% endblock %}