{% extends "::front/common/layout.html.twig" %}
{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Gestion Absence</h1>
                </div>
            </div>
        {% endblock %}
{% block content %}

<form method="POST">
    {#heure : <input type ="text"name="heure"value={{ sceance.heure|date }}>#}
    absence  : <input type ="text"name="absence"value={{ absence.absence}}>

    <input type ="submit" value="Enregistrer">
</form>
{% endblock %}
{% endblock %}