{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matiere</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere.id }}</td>
            </tr>
            <tr>
                <th>Nom_mat</th>
                <td>{{ matiere.nommat }}</td>
            </tr>
            <tr>
                <th>Coef</th>
                <td>{{ matiere.coef }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matiere_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
