{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeclasse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeClasse.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ typeClasse.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeclasse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeclasse_edit', { 'id': typeClasse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
