{% trans_default_domain 'FOSUserBundle' %}

<div class="card-header bg-transparent pb-5">
    <div class="text-muted text-center mt-2 mb-4"><strong>Sign up</strong></div>
</div>

<div class="card-body px-lg-5 py-lg-5">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'role': 'form'}}) }}

    {% for el in form %}

        {% if el.children| length!= 0 %}

            {% for elChildre in el %}
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        {{ form_widget(elChildre,{'attr': {'class': 'form-control', 'placeholder': elChildre.vars.label}}) }}
                    </div>
                </div>
            {% endfor %}

        {% elseif el.vars.name=="_token" %}

            {{ form_widget(el) }}

        {% else %}

            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{ form_widget(el,{'attr': {'class': 'form-control', 'placeholder': el.vars.label}}) }}
                </div>
            </div>

        {% endif %}

    {% endfor %}

    <div class="text-center">
        <input type="submit" class="btn btn-primary my-4"
               value="{{ 'registration.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}
</div>