{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permutations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecreation</th>
                <th>Accepted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permutation in permutations %}
            <tr>
                <td><a href="{{ path('permutation_show', { 'id': permutation.id }) }}">{{ permutation.id }}</a></td>
                <td>{% if permutation.dateCreation %}{{ permutation.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if permutation.accepted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('permutation_show', { 'id': permutation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('permutation_edit', { 'id': permutation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permutation_new') }}">Create a new permutation</a>
        </li>
    </ul>
{% endblock %}
