{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permutation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permutation.id }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if permutation.dateCreation %}{{ permutation.dateCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Accepted</th>
                <td>{% if permutation.accepted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permutation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('permutation_edit', { 'id': permutation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
