{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Note_cc</th>
                <th>Note_ds</th>
                <th>Note_exam</th>
                <th>Moyenne</th>
                <th>Net</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="{{ path('note_show', { 'id': note.id }) }}">{{ note.id }}</a></td>
                <td>{{ note.notecc }}</td>
                <td>{{ note.noteds }}</td>
                <td>{{ note.noteexam }}</td>
                <td>{{ note.moyenne }}</td>
                <td>{{ note.net }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('note_show', { 'id': note.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('note_edit', { 'id': note.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('note_new') }}">Create a new note</a>
        </li>
    </ul>
{% endblock %}
