{% extends "::back/common/layout.html.twig" %}


{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">New User</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('dashboard_users') }}">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New User</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block widgets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">New User</h3>
                    <p class="text-sm mb-0">
                        Create a new user.
                    </p>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <label>Type</label>
                        <select name="typeUser" class="form-control">
                            <option value="student">Etudiant</option>
                            <option value="ens">Enseignant</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">Create User</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}