{% extends "::back/common/layout.html.twig" %}


{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Permutation</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Classe</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liste Permutation</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Permutation</h3>
                    <p class="text-sm mb-0">
                        List of permutations.
                    </p>
                </div>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                        <tr>
                            <th>Student 1</th>
                            <th>Student 2</th>
                            <th>Accepted</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Student 1</th>
                            <th>Student 2</th>
                            <th>Accepted</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for permutation in permutations %}
                            <tr>
                                <td class="table-user">
                                    <a href="{{ path('student_show',{'id': permutation.student1.id}) }}"
                                       class="font-weight-bold">{{ permutation.student1 | upper }}</a>
                                </td>
                                <td class="table-user">
                                    <a href="{{ path('student_show',{'id': permutation.student2.id}) }}"
                                       class="font-weight-bold">{{ permutation.student2 | upper }}</a>
                                </td>
                                <td>
                                    <label class="custom-toggle">
                                        {% if permutation.accepted %}
                                            <input type="checkbox" checked>
                                        {% else %}
                                            <input type="checkbox">
                                        {% endif %}
                                        <span class="custom-toggle-slider rounded-circle" data-label-off="No"
                                              data-label-on="Yes"></span>
                                    </label>
                                </td>
                                <td>{{ permutation.dateCreation | date('F d, yy') }}</td>
                                <td class="table-actions">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item"
                                           href="#">Show</a>
                                        <a class="dropdown-item" href="#">Edit</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
{% endblock %}