<!DOCTYPE html>
<html lang="en-US">
<meta content="text/html;charset=UTF-8" http-equiv="content-type"/>

<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
{% block style %}
    <link href="{{ asset('wp-content/cache/autoptimize/css/autoptimize_a5432c11353bf993ceaf35f25eb5b0ca.css') }}" media="all"
          rel="stylesheet"/>
    <title>{% block title %} {% endblock %}</title>
    <link href='http://fonts.googleapis.com/' rel='dns-prefetch'/>
    <link href='http://s.w.org/' rel='dns-prefetch'/>
    <link href="feed/index.html" rel="alternate" title="Valer &raquo; Feed" type="application/rss+xml"/>
    <link href="{{ asset('comments/feed/index.html') }}" rel="alternate" title="Valer &raquo; Comments Feed"
          type="application/rss+xml"/>
{% endblock %}
{% block script %}
    <script type="text/javascript">window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}
        };
        !function (e, a, t) {
            var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d");

            function c(e, t) {
                var a = String.fromCharCode;
                s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0);
                var r = p.toDataURL();
                return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL()
            }

            function l(e) {
                if (!s || !s.fillText) return !1;
                switch (s.textBaseline = "top", s.font = "600 32px Arial", e) {
                    case"flag":
                        return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]));
                    case"emoji":
                        return !c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340])
                }
                return !1
            }

            function d(e) {
                var t = a.createElement("script");
                t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
            }

            for (i = Array("flag", "emoji"), t.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, o = 0; o < i.length; o++) t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () {
                t.DOMReady = !0
            }, t.supports.everything || (n = function () {
                t.readyCallback()
            }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
                "complete" === a.readyState && t.readyCallback()
            })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji)))
        }(window, document, window._wpemojiSettings);</script>
{% endblock %}
{% block style2 %}
    <link href="{{ asset('wp-content/cache/autoptimize/css/autoptimize_single_ab900de01eb801ce41140f6f4ed5268655c6.css?ver=1582009139') }}"
          id='elementor-post-5338-css'
          media='all'
          rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Lora%3A400%2C700%2C400italic%2C700italic%7CKarla%3A700%7CPoppins%3A400%2C500%7CCormorant%3A700%2C600&amp;ver=1569589816'
          id='redux-google-fonts-themnific_redux-css'
          media='all'
          rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.3.2'
          id='google-fonts-1-css'
          media='all'
          rel='stylesheet' type='text/css'/>
    <script src="{{ asset('wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp') }}" type='text/javascript'></script>
    <script type='text/javascript'>var Cli_Data = {"nn_cookie_ids": [], "cookielist": []};
        var log_object = {"ajax_url": "{{ asset('\/wp-admin\/admin-ajax.php') }}" };</script>
    <script type='text/javascript'>jQuery(document).ready(function (jQuery) {
            jQuery.datepicker.setDefaults({
                "closeText": "Close",
                "currentText": "Today",
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                "nextText": "Next",
                "prevText": "Previous",
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "dateFormat": "M d",
                "firstDay": 1,
                "isRTL": false
            });
        });</script>
    <script src="{{ asset('wp-includes/js/dist/vendor/wp-polyfill.min89b1.js?ver=7.4.4') }}" type='text/javascript'></script>
    <script type='text/javascript'>('fetch' in window) || document.write('<script src="{{ asset('wp-includes/js/dist/vendor/wp-polyfill-fetch.min6e0e.js?ver=3.0.0') }}></scr' + 'ipt>');
        (document.contains) || document.write('<script src="/wp-includes/js/dist/vendor/wp-polyfill-node-contains.minef84.js?ver=3.26.0-0"></scr' + 'ipt>');
        (window.FormData && window.FormData.prototype.keys) || document.write('<script src="{{ asset('wp-includes/js/dist/vendor/wp-polyfill-formdata.mine9bd.js?ver=3.0.12') }}"></scr' + 'ipt>');
        (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="{{ asset('wp-includes/js/dist/vendor/wp-polyfill-element-closest.min4c56.js?ver=2.0.2') }}"></scr' + 'ipt>');</script>
    <script src="{{ asset('wp-includes/js/dist/dom-ready.min9776.js?ver=2.5.1') }}" type='text/javascript'></script>
    <script src="{{ asset('wp-includes/js/dist/a11y.min9776.js?ver=2.5.1') }}" type='text/javascript'></script>
    <script type='text/javascript'>var uiAutocompleteL10n = {
            "noResults": "No results found.",
            "oneResult": "1 result found. Use up and down arrow keys to navigate.",
            "manyResults": "%d results found. Use up and down arrow keys to navigate.",
            "itemSelected": "Item selected."
        };</script>
    <script type='text/javascript'>var EM = {
            "ajaxurl": "\/wp-admin\/admin-ajax.php",
            "locationajaxurl": "\/wp-admin\/admin-ajax.php?action=locations_search",
            "firstDay": "1",
            "locale": "en",
            "dateFormat": "dd\/mm\/yy",
            "ui_css": "\/wp-content\/plugins\/events-manager\/includes\/css\/jquery-ui.min.css",
            "show24hours": "0",
            "is_ssl": "",
            "google_maps_api": "AIzaSyDGRWmu98WqGK_T5quGcueSSseWkP4C20g",
            "bookingInProgress": "Please wait while the booking is being submitted.",
            "tickets_save": "Save Ticket",
            "bookingajaxurl": "\/wp-admin\/admin-ajax.php",
            "bookings_export_save": "Export Bookings",
            "bookings_settings_save": "Save Settings",
            "booking_delete": "Are you sure you want to delete?",
            "booking_offset": "30",
            "bb_full": "Sold Out",
            "bb_book": "Book Now",
            "bb_booking": "Booking...",
            "bb_booked": "Booking Submitted",
            "bb_error": "Booking Error. Try again?",
            "bb_cancel": "Cancel",
            "bb_canceling": "Canceling...",
            "bb_cancelled": "Cancelled",
            "bb_cancel_error": "Cancellation Error. Try again?",
            "txt_search": "Search",
            "txt_searching": "Searching...",
            "txt_loading": "Loading...",
            "event_detach_warning": "Are you sure you want to detach this event? By doing so, this event will be independent of the recurring set of events.",
            "delete_recurrence_warning": "Are you sure you want to delete all recurrences of this event? All events will be moved to trash.",
            "disable_bookings_warning": "Are you sure you want to disable bookings? If you do this and save, you will lose all previous bookings. If you wish to prevent further bookings, reduce the number of spaces available to the amount of bookings you currently have",
            "booking_warning_cancel": "Are you sure you want to cancel your booking?"
        };</script>
    <script type='text/javascript'>var userSettings = {
            "url": "\/",
            "uid": "0",
            "time": "1585135170",
            "secure": ""
        };</script>
    <script type='text/javascript'>var lpGlobalSettings = {
            "url": null,
            "siteurl": "\/",
            "ajax": "\/wp-admin\/admin-ajax.php",
            "theme": "valer",
            "localize": {"button_ok": "OK", "button_cancel": "Cancel", "button_yes": "Yes", "button_no": "No"}
        };</script>
    <script type='text/javascript'>var lpCourseSettings = [];</script>
    <link href="{{ asset('wp-json/index.html') }}" rel='https://api.w.org/'/>
    <link href="xmlrpc0db0.php?rsd" rel="EditURI" title="RSD" type="application/rsd+xml"/>
    <link href="{{ asset('wp-includes/wlwmanifest.xml') }}" rel="wlwmanifest" type="application/wlwmanifest+xml"/>
    <meta content="WordPress 5.3.2" name="generator"/>
    <link href="index.html" rel="canonical"/>
    <link href='index.html' rel='shortlink'/>
    <link href="{{ asset('wp-json/oembed/1.0/embedf4c0.json?url=/') }}" rel="alternate"
          type="application/json+oembed"/>
    <link href="{{ asset('wp-json/oembed/1.0/embed125b?url=/&amp;format=xml') }}"
          rel="alternate"
          type="text/xml+oembed"/>
    </title>
{% endblock %}
{% block addSomething %} {% endblock %}
<body class="home page-template page-template-elementor_header_footer page page-id-5338 wp-embed-responsive wp-featherlight-captions elementor-default elementor-template-full-width elementor-kit-6193 elementor-page elementor-page-5338">
<div class="upper tranparent_header tmnf-sidebar-active ">
    {% include '::front/common/header.html.twig' %}

    <div class="wrapper p-border">
        <div class="elementor elementor-5338" data-elementor-id="5338" data-elementor-settings="[]"
             data-elementor-type="wp-post">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section
                            class="elementor-element elementor-element-4a9ca2c6 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                            data-element_type="section" data-id="4a9ca2c6">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-70acd393 elementor-column elementor-col-100 elementor-top-column"
                                     data-element_type="column" data-id="70acd393">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-bb8991c elementor-widget elementor-widget-wp-widget-valeraddons_slider_widget"
                                                 data-element_type="widget" data-id="bb8991c"
                                                 data-widget_type="wp-widget-valeraddons_slider_widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="wpm_eleslider_wrap">
                                                        <noscript><img
                                                                    alt=""
                                                                    src="{{ asset('wp-content/plugins/valer-addons/assets/images/tail-spin.svg') }}"
                                                                    width="40"></noscript>
                                                        <img alt=""
                                                             class="lazyload"
                                                             data-src="http://dannci.wpmasters.org/valer/wp-content/plugins/valer-addons/assets/images/tail-spin.svg"
                                                             src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2040%20%22%3E%3C/svg%3E'
                                                             width="40">
                                                        <div class="wpm_eleslider loop owl-carousel loading">
                                                            <div class="eleinside eleinside_Center"
                                                                 data-dot="What Will Be The Future?"><a href="#"
                                                                                                        title="What Will Be The Future?">
                                                                    <noscript><img alt=""
                                                                                   class="tranz bg_image wp-post-image"
                                                                                   height="960"
                                                                                   sizes="(max-width: 1920px) 100vw, 1920px"
                                                                                   src="{{ asset('wp-content/uploads/2018/05/norway-4420668_1920-1920x960.jpg') }}"
                                                                                   srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/norway-4420668_1920-1920x960.jpg 1920w, http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/norway-4420668_1920-1500x750.jpg 1500w"
                                                                                   width="1920"/>
                                                                    </noscript>
                                                                    <img alt=""
                                                                         class="lazyload tranz bg_image wp-post-image"
                                                                         data-sizes="(max-width: 1920px) 100vw, 1920px"
                                                                         data-src="http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/norway-4420668_1920-1920x960.jpg"
                                                                         data-srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/norway-4420668_1920-1920x960.jpg 1920w, http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/norway-4420668_1920-1500x750.jpg 1500w"
                                                                         height="960"
                                                                         src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201920%20960%22%3E%3C/svg%3E'
                                                                         width="1920"/>
                                                                </a>
                                                                <div class="eleslideinside tranz "><p>
                                                                    <noscript><img
                                                                                alt=""
                                                                                class="alignnone size-thumbnail wp-image-5726"
                                                                                height="150"
                                                                                sizes="(max-width: 150px) 100vw, 150px"
                                                                                src="{{ asset('wp-content/uploads/2019/09/valer-logo-white-255x255.png') }}"
                                                                                srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-255x255.png 255w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-300x297.png 300w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-90x90.png 90w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-150x150.png 150w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white.png 550w"
                                                                                width="150"/>
                                                                    </noscript>
                                                                    <img alt=""
                                                                         class="lazyload alignnone size-thumbnail wp-image-5726"
                                                                         data-sizes="(max-width: 150px) 100vw, 150px"
                                                                         data-src="http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-255x255.png"
                                                                         data-srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-255x255.png 255w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-300x297.png 300w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-90x90.png 90w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-150x150.png 150w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white.png 550w"
                                                                         height="150"
                                                                         src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20150%20150%22%3E%3C/svg%3E'
                                                                         width="150"/></p>
                                                                    <h5>Welcome to</h5>
                                                                    <h2>Unitech</h2>
                                                                    <p>&nbsp;</p></div>
                                                            </div>
                                                            <div class="eleinside eleinside_Center"
                                                                 data-dot="New Chronology Shows Ancient Transformed Fast">
                                                                <a href="#"
                                                                   title="New Chronology Shows Ancient Transformed Fast">
                                                                    <noscript><img alt=""
                                                                                   class="tranz bg_image wp-post-image"
                                                                                   height="960"
                                                                                   sizes="(max-width: 1920px) 100vw, 1920px"
                                                                                   src="{{ asset('wp-content/uploads/2018/05/sculpture-3357150_1920-1920x960.jpg') }}"
                                                                                   srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/sculpture-3357150_1920-1920x960.jpg 1920w, http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/sculpture-3357150_1920-1500x750.jpg 1500w"
                                                                                   width="1920"/>
                                                                    </noscript>
                                                                    <img alt=""
                                                                         class="lazyload tranz bg_image wp-post-image"
                                                                         data-sizes="(max-width: 1920px) 100vw, 1920px"
                                                                         data-src="http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/sculpture-3357150_1920-1920x960.jpg"
                                                                         data-srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/sculpture-3357150_1920-1920x960.jpg 1920w, http://dannci.wpmasters.org/valer/wp-content/uploads/2018/05/sculpture-3357150_1920-1500x750.jpg 1500w"
                                                                         height="960"
                                                                         src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201920%20960%22%3E%3C/svg%3E'
                                                                         width="1920"/>
                                                                </a>
                                                                <div class="eleslideinside tranz "><p>
                                                                    <noscript><img
                                                                                alt=""
                                                                                class="alignnone size-thumbnail wp-image-5726"
                                                                                height="150"
                                                                                sizes="(max-width: 150px) 100vw, 150px"
                                                                                src="{{ asset('wp-content/uploads/2019/09/valer-logo-white-255x255.png') }}"
                                                                                srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-255x255.png 255w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-300x297.png 300w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-90x90.png 90w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-150x150.png 150w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white.png 550w"
                                                                                width="150"/>
                                                                    </noscript>
                                                                    <img alt=""
                                                                         class="lazyload alignnone size-thumbnail wp-image-5726"
                                                                         data-sizes="(max-width: 150px) 100vw, 150px"
                                                                         data-src="http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-255x255.png"
                                                                         data-srcset="http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-255x255.png 255w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-300x297.png 300w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-90x90.png 90w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white-150x150.png 150w, http://dannci.wpmasters.org/valer/wp-content/uploads/2019/09/valer-logo-white.png 550w"
                                                                         height="150"
                                                                         src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20150%20150%22%3E%3C/svg%3E'
                                                                         width="150"/></p>
                                                                    <h5>Getting a sense of</h5>
                                                                    <h2>Unitech</h2><h5><a href="#">Learn more</a>
                                                                    </h5>
                                                                    <p>&nbsp;</p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    {% block body %}



                    <section
                            class="elementor-element elementor-element-e3531ea elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                            data-element_type="section" data-id="e3531ea"
                            data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                        <div class="elementor-container elementor-column-gap-wider">
                            <div class="elementor-row">
                                {% block cont %}

                                {% endblock %}

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% include '::front/common/footer.html.twig' %}
    {% block Valer %}
        <div class="tranz" id="curtain">
            <form action="http://dannci.wpmasters.org/valer/" class="searchform" method="get">
                <input class="s rad p-border"
                       name="s"
                       onblur="if (this.value == '') {this.value = 'Search...';}"
                       onfocus="if (this.value = '') {this.value = '';}"
                       size="30"
                       type="text"
                       value="Search..."/>
                <button class='searchSubmit ribbon'>Search</button>
            </form>
            <a class='curtainclose rad' href="#"><i class="fa fa-times"></i></a></div>
        <div class="scrollTo_top ribbon rad"><a class="rad" href="#" title="Scroll to top">&uarr;</a></div>

        <div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
        <div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
        <noscript>
            <style>.lazyload {
                    display: none;
                }</style>
        </noscript>
        <script data-noptimize="1">window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;</script>
        <script async data-noptimize="1"
                src="{{ asset('wp-content/plugins/autoptimize/classes/external/js/lazysizes.min5240.js?ao_version=2.6.1') }}"></script>
        <script type='text/javascript'>var wpcf7 = {
                "apiSettings": {
                    "root": "\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                }
            };</script>
        <script type='text/javascript'>var elementorFrontendConfig = {
                "environmentMode": {"edit": false, "wpPreview": false},
                "i18n": {
                    "shareOnFacebook": "Share on Facebook",
                    "shareOnTwitter": "Share on Twitter",
                    "pinIt": "Pin it",
                    "downloadImage": "Download image"
                },
                "is_rtl": false,
                "breakpoints": {"xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600},
                "version": "2.9.2",
                "urls": {"assets": "\/wp-content\/plugins\/elementor\/assets\/"},
                "settings": {
                    "page": [],
                    "general": {
                        "elementor_global_image_lightbox": "yes",
                        "elementor_lightbox_enable_counter": "yes",
                        "elementor_lightbox_enable_fullscreen": "yes",
                        "elementor_lightbox_enable_zoom": "yes",
                        "elementor_lightbox_enable_share": "yes",
                        "elementor_lightbox_title_src": "title",
                        "elementor_lightbox_description_src": "description"
                    },
                    "editorPreferences": []
                },
                "post": {
                    "id": 5338,
                    "title": "Valer &#8211; University &amp; College WordPress Theme",
                    "excerpt": "",
                    "featuredImage": false
                }
            };</script>
        <script defer src="{{ asset('wp-content/cache/autoptimize/js/autoptimize_92041e86c1a9d46f67d5af4bd2c421d4.js') }}"></script>
    {% endblock %}
    {% include '::front/common/footer.html.twig' %}
</div>
</body>
</html>