{% extends "::front/common/layout.html.twig" %}


{% block body %}
<div class="postbar postbarNone post-5426 page type-page status-publish hentry">
    {% block header %}
        <div class="page-header">
            <noscript>
                <img alt="Events"
                     class="page-header-img"/>
            </noscript>
            <img alt="Events" class="page-header-img lazyloaded"
                 data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                 src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
            <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Ajouter Notes</h1>
            </div>
        </div>
    {% endblock %}


{% block content %}
    <form name="notebundle_note" method="post" class="form-style-9" style="margin-top: 7%;margin-left: 550px;margin-bottom: 7% ">
{{ form(f) }}
    </form>


{% block styles %}
<style>

    .form-control {
        display: block;
        width: 50%;
    }
    .btn-primary {
        color: #fff;
        background-color: #640bc3;
        border-color: #640bc3;
    }

    .form-style-9 {
        max-width: 500px;
        background: #FAFAFA;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #562a84;
    }

</style>
{% endblock %}
{% endblock %}
{% endblock %}