{% extends "::front/common/layout.html.twig" %}


{% block styles %}

    <style>
        body, input, button {
            font-family: Lora;
            font-weight: 400;
            font-style: normal;
            color: #ffffff;

        }
        .alert-success {
            color: #fff;
            border-color: #87908c;
            background-color: #afb3b1;
            width: 50%;
            background: linear-gradient(to bottom, #dee2e6 2%, #6c7781 90%);

        }
        .alert-danger {
            color: #fff;
            border-color: #ff0100;
            background-color: #ff0100;
            width: 50%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Gestion Note</h1>
                </div>
            </div>
        {% endblock %}

{% block content %}
    <form name="notebundle_note" method="post" style="line-height: 0;margin-top: 20px;margin-bottom: 5px">
<center>
    {{ form(f) }}
</center>
    </form>>

    <div>
        <table id="table" style="margin-left: 51px;margin-top: 5%">
            <thead >
            <th >
                <span style="width: 113px;height: 10px;">Classe </span>
            </th>
            <th >
                <span style="width: 113px;height: 10px;">Matiére </span>
            </th>
            <th >
                <span style="width: 113px;height: 10px;">Cin étudiant</span>
            </th>
            <th >
                <span style="width: 113px;height: 10px;">Nom et prénom étudiant</span>
            </th>

            <th >
                <span style="width: 113px;">Note cc</span>
            </th>
            <th >
                <span style="width: 113px;">Note ds</span>
            </th>
            <th >
                <span style="width: 105px;">Note examen</span>
            </th>

            <th >
                <span style="width: 113px;">Moyenne</span>
            </th>
            <th >
                <span style="width: 113px;">Mention</span>
            </th>

            <th style="background-color: #ffffff">
            <span style="width: 113px"> <a href="{{ path('Note_ajouternote')}}">
                       <img src="{{ asset('ajouter.jpg' ) }}" height="40px" width="40px"/> </a>
</span>
            </th>
            </tr>
            </thead>

            <tbody >
            <center>
                {% for message in app.flashes('successnote') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('dangernote11') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% for message in app.flashes('successnotemodif') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            </center>

            {% for elt in note %}
                <tr>
                    <td >
                        <span style="width: 113px;  color: #0a0c0d;">{{ elt.classe.NumClasse}}</span>
                    </td>
                    <td >
                        <span style="width: 113px;  color: #0a0c0d;">{{ elt.matiere.NomMat }}</span>
                    </td>
                    <td >
                        <span style="width: 100px;height: 10px;color: #0a0c0d;" >{{ elt.user.CIN}}</span>
                    </td>
                    <td >
                        <span style="width: 100px;height: 10px;color: #0a0c0d;">{{ elt.user.LastName }} {{ elt.user.FirstName }}</span>
                    </td>

                    <td >
                        <span style="width: 113px;  color: #0a0c0d;">{{ elt.NoteCc }}</span>
                    </td>
                    <td >
                        <span style="width: 113px;  color: #0a0c0d;">{{ elt.NoteDs }}</span>
                    </td>
                    <td >
                        <span style="width: 105px;  color: #0a0c0d;">{{ elt.NoteExam }}</span>
                    </td>

                    <td >
                        {% if elt.NoteCc !="" and elt.NoteDs!="" and elt.NoteExam !="" %}
                        <span style="width: 113px;  color: #0a0c0d;">{{ elt.Moyenne }}</span>
                            {% else %}
                                <span style="width: 113px;  color: #0a0c0d;">Toutes Les notes ne sont pas encore disponible</span>

                        {% endif %}
                    </td>
                    <td>
                        {% if elt.NoteCc =="" or elt.NoteDs =="" or elt.NoteExam =="" %}
                            <span style="width: 113px;  color: #ff0100;"> Moyenne non disponible</span>
                        {% elseif elt.Moyenne >0 and elt.Moyenne<10 %}
                            <span style="width: 113px;  color: #0a0c0d;">Mention Passable</span>
                        {% elseif elt.Moyenne >=10 and elt.Moyenne<14 %}
                            <span style="width: 113px;  color: #0a0c0d;"> Mention Assez Bien</span>
                        {% elseif elt.Moyenne >=14 and elt.Moyenne<16 %}
                            <span style="width: 113px;  color: #0a0c0d;">Mention Bien</span>
                        {% elseif elt.Moyenne >=16 %}
                            <span style="width: 113px;  color: #0a0c0d;">Mention Très Bien</span>

                        {% endif %}
                    </td>
                    <td style="background: none;border-right: none   " >
                        <span style="width: 113px;">
                <a href="{{ path('Note_modifiernote',{'id':elt.id})}}">
                       <img src="{{ asset('edit.jpg' ) }}" height="40px" width="40px"/> </a>

                        </span>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

    {% block cssnada %}
        <style >

            #table {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }



            #table tr:hover {background-color: #ddd;}

            #table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #640bc3;
                color: white;

            }
            .button {
                border: 1px solid #989A8F;
                padding: 10px 40px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                color: #989A8F;
                font-size: 14px;
                text-decoration: none;
                vertical-align: middle;
                font-size:17px;
            }

            .btn-primary {
                color: #fff;
                background-color: #640bc3;
            }
            .purple {
                background-color:#5D4660;
            }
            #TitreBO
            {
                font-size: 48px;
                text-shadow: -1px -1px black, 1px 1px #a00, -3px 0 4px #000;
                font-family:"Segoe print", Arial, Helvetica, sans-serif;
                color: #640bc3;
                padding:64px 0 0 0;
                margin:45px auto;
                font-weight:lighter;
                -moz-box-shadow:none;
                -webkit-box-shadow: none;
                box-shadow:black;
                text-align:center;
                display:block;
            }

            .form-control {
                display: block;
                width: 15%;
            }

            span {
                font-weight:bold;
            }

            .top h1 {
                padding-top: 30px;
            }


            .top p {
                font-size: 1px;
                font-family: 'Droid Serif', sans-serif;
                padding: 5px;
            }

            html, body {
                height: 100%;
            }

            body {
                text-align: center;
                background-size: 100%;
                font-family: 'Droid Sans', sans-serif;
            }
        </style>
    {% endblock %}
{% endblock %}
{% endblock %}