{% extends "::back/common/layout.html.twig" %}


{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Liste des Notes</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Note</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liste des Notes</li>
                </ol>
            </nav>
        </div>

    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}

    <div class="row" style="margin-top: 30px">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <style>
                        .form-control {
                            font-size: .875rem;
                            font-weight: 400;
                            line-height: 1.5;
                            display: block;
                            width: 90%;
                            height: calc(1.5em + 1.25rem + 2px);
                            padding: .625rem .75rem;
                            transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
                            color: #8898aa;
                            border: 1px solid #5e72e4;
                            border-radius: .25rem;
                            background-color: #ffffff;
                            background-clip: padding-box;
                            box-shadow: 0 3px 2px rgba(233, 236, 239, .05);

                        }

                        button{
                            margin-top: 10px;
                            background-color: #5e72e4;
                            color: #efefef;


                        }
                        body {
                            font-family: Open Sans, sans-serif;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            margin: 0;
                            text-align: left;
                            color: #f1ebeb00;
                            background-color: #f8f9fe;
                        }
                        .alert-danger {
                            color: #fff;
                            border-color: #fff;
                            background-color: #fff;
                        }
                        .badge-danger {
                            color: #fff;
                            background-color: #fff;
                        }
                        .form-style-9 {
                            max-width: 300px;
                            background: #FAFAFA;
                            padding: 20px;
                            margin: 50px auto;
                            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
                            border-radius: 10px;
                            border: 6px solid #5e72e4;
                        }

                        .form-group{
                            margin-bottom: -0em;
                            width: 100%;}



                    </style>



                           <div class="form-group form-style-9" style="margin-top: 15px" >
                               <center>
                           {{ form(f) }}
                               </center>
                           </div>




                    </div>
</div></div></div>

                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                        <tr >
                            <th style="background-color: #ffffff">Classe</th>
                            <th style="background-color: #ffffff">Matiére</th>
                            <th style="background-color: #ffffff">Cin étudiant</th>
                            <th style="background-color: #ffffff">Nom et prénom étudiant</th>
                            <th style="background-color: #ffffff">Note Cc</th>
                            <th style="background-color: #ffffff">Note Ds</th>
                            <th style="background-color: #ffffff">Note Examen</th>
                            <th style="background-color: #ffffff">Moyenne</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for elt in note %}
                            <tr>
                                <td>{{ elt.user.classe.NumClasse}}</td>
                                <td>{{ elt.matiere.NomMat }}</td>
                                <td>{{ elt.user.CIN}}</td>
                                <td>{{ elt.user.LastName }} {{ elt.user.FirstName }}</td>
                                <td>{{ elt.NoteCc }}</td>
                                <td>{{ elt.NoteDs }}</td>
                                <td>{{ elt.NoteExam }}</td>

                                <td> {% if elt.NoteCc !="" and elt.NoteDs!="" and elt.NoteExam !="" %}
                                        <span style="width: 113px;  color: #0a0c0d;">{{ elt.Moyenne }}</span>
                                    {% else %}
                                        <span style="width: 113px;  color: #0a0c0d;">Toutes Les notes ne sont pas encore disponible</span>

                                    {% endif %}</td>

                                <td>
                                    <a onclick="confirm('Voulez-vous vraiment supprimer les notes de {{ elt.user.LastName }} {{ elt.user.FirstName }} ??')"
                                       href="{{ path('Note_supprimernote',{'id':elt.id})}}"> <img src="{{ asset('Delete.png' ) }}" height="30px" width="40px"/></a>


                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
{% endblock %}
