{% extends "::front/common/layout.html.twig" %}
{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
    {% block header %}
        <div class="page-header">
            <noscript>
                <img alt="Events"
                     class="page-header-img"/>
            </noscript>
            <img alt="Events" class="page-header-img lazyloaded"
                 data-src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}"
                 src="{{ asset('wp-content/uploads/2018/05/milan-2698731_1920-1500x750.jpg') }}">
            <div class="container"><h1 class="give-form-title entry-title" itemprop="headline"></h1>
            </div>
        </div>
    {% endblock %}
{% block content %}
</div>
<h1 id="TitreBO" >Note <h2 id="sousTitre"> {{ note.user.LastName}} {{ note.user.FirstName }} </h2></h1>
<form method="POST" class="form-style-9">
    <ul>
         CC :
        <li>
           <center> <input type="number" name="note_cc" value={{ note.noteCc }} class="field-style" /></center>
        </li>
         DS :
        <li>
            <center>  <input type="number" name="note_ds" value={{ note.noteDs}} class="field-style"/>  </center>

        </li>
         Examen :
        <li>
            <center> <input type="number" name="note_exam" value={{ note.noteExam }} class="field-style"/></center>
        </li>

        <li><center>
            <input type="submit" value="Modifier" />
            </center></li>
    </ul>
</form>
    <style type="text/css">
        .form-style-9{
            max-width: 450px;
            background: #FAFAFA;
            padding: 30px;
            margin: 50px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #491b79;
        }
        .form-style-9 ul{
            padding:0;
            margin:0;
            list-style:none;
        }
        .form-style-9 ul li{
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }
        .form-style-9 ul li  .field-style{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 8px;
            outline: none;
            border: 1px solid #B0CFE0;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;

        }.form-style-9 ul li  .field-style:focus{
             box-shadow: 0 0 5px #B0CFE0;
             border:1px solid #B0CFE0;
         }
        .form-style-9 ul li .field-split{
            width: 49%;
        }
        .form-style-9 ul li textarea{
            width: 70%;

        }
        .form-style-9 ul li input[type="button"],
        .form-style-9 ul li input[type="submit"] {


            background-color: #491b79;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            padding: 10px 20px;
            text-decoration: none;
            font: 14px Arial, Helvetica, sans-serif;
        }
        .form-style-9 ul li input[type="button"]:hover,
        .form-style-9 ul li input[type="submit"]:hover {
            background: linear-gradient(to bottom, #a0a5aa 5%, #491b79 100%);
            background-color: #491b79;
        }
        #TitreBO
        {
            font-size: 48px;
            text-shadow: -1px -1px black, 1px 1px #640bc3, -3px 0 4px #000;
            font-family:"Segoe print", Arial, Helvetica, sans-serif;
            color: #0b1526;

            padding:64px 0 0 0;
            margin:16px auto;
            font-weight:lighter;
            -moz-box-shadow:none;
            -webkit-box-shadow: none;
            box-shadow:black;
            text-align:center;
            display:block;
        }
        #sousTitre
        {
            font-size: 40px;
            text-shadow: -1px -1px black, 1px 1px #640bc3, -3px 0 4px #000;
            font-family:"Segoe print", Arial, Helvetica, sans-serif;
            color: #563d7a;
            margin:16px auto;
            font-weight:lighter;
            -moz-box-shadow:none;
            -webkit-box-shadow: none;
            box-shadow:black;
            text-align:center;
            display:block;
        }
    </style>
{% endblock %}
{% endblock %}



