{% block body %}

    <table >
        <h1 id="TitreBO" >Relevé de notes </h1>
        <thead >
        <tr bgcolor="#dcdcdc">
            <th scope="col">Matiére</th>
            <th scope="col">Coef</th>
            <th scope="col">Note cc</th>
            <th scope="col">Note ds</th>
            <th scope="col">Examen</th>
            <th scope="col">Moyenne</th>
            <th  style="color: #ff4500;width: 4cm">Mention</th>
        </tr>

        </thead>
        {% for elt in note   %}
        <tbody>
        <tr>
           <h4> Etudiant(e) :  {{ elt.user.LastName}} {{ elt.user.FirstName }}
            <br>Cin :  {{ elt.user.Cin}}
            <br> Email :  {{ elt.user.Email}}</h4>
            <th >{{ elt.matiere.NomMat }}</th>
            <td>{{ elt.matiere.Coef }}</td>
            <td>{{ elt.NoteCc }}</td>
            <td>{{ elt.NoteDs }}</td>
            <td>{{ elt.NoteExam  }}</td>
            <td >
                {% if elt.NoteCc !="" and elt.NoteDs!="" and elt.NoteExam !="" %}
                    <span style="width: 113px;  color: #0a0c0d;">{{ elt.Moyenne }}</span>
                {% else %}
                    <span style="width: 113px;  color: #0a0c0d;">Toutes Les notes ne sont pas encore disponible</span>

                {% endif %}
            </td>
            <td >
                {% if elt.NoteCc =="" and elt.NoteDs =="" and elt.NoteExam =="" %}
                    <span style="width: 113px;  color: #0a0c0d;"> Moyenne non disponible</span>
                {% elseif elt.Moyenne >0 and elt.Moyenne<10 %}
                    <span style="width: 113px;  color: #0a0c0d;">Mention Passable</span>
                {% elseif elt.Moyenne >=10 and elt.Moyenne<14 %}
                    <span style="width: 113px;  color: #0a0c0d;"> Mention Assez Bien</span>
                {% elseif elt.Moyenne >=14 and elt.Moyenne<16 %}
                    <span style="width: 113px;  color: #0a0c0d;">Mention Bien</span>
                {% elseif elt.Moyenne >=16 %}
                    <span style="width: 113px;  color: #0a0c0d;">Mention Très Bien</span>

                {% endif %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <link href="style.css" rel="stylesheet" type="text/css">
    <style>
        table {
            margin-left: 80px;
            margin-top: 9%;
            width: 90%;
            border-collapse: collapse;
            border: 3px solid purple;


        }

        #TitreBO
        {
            font-size: 48px;
            text-shadow: -1px -1px black, 1px 1px #a00, -3px 0 4px #000;
            font-family:"Segoe print", Arial, Helvetica, sans-serif;
            color: #640bc3;
            padding:64px 0 0 0;
            margin:16px auto;
            font-weight:lighter;
            -moz-box-shadow:none;
            -webkit-box-shadow: none;
            box-shadow:black;
            text-align:center;
            display:block;
        }

        thead th:nth-child(1) {
            width: 20%;
        }

        thead th:nth-child(2) {
            width: 10%;
        }

        thead th:nth-child(3) {
            width: 10%;
        }

        thead th:nth-child(4) {
            width: 10%;
        }
        thead th:nth-child(5) {
            width: 10%;
        }

        body {
            text-align: center;
            background-size: 100%;
            font-family: 'Droid Sans', sans-serif;
            line-height: 2.5;
        }
        td {
            padding: 10px;
            text-align: center;
        }
        thead, tfoot {
            color: #000;
            text-shadow: 1px 1px 1px black;
        }
    </style>
{% endblock %}