{% extends "::front/home.html.twig" %}
{% block content %}
    <form  name="notebundle_note" method="post" style="margin-top: 45px;margin-bottom: 50px">
        <center>
            {{ form(f) }}
              </center>
    </form>




    <style>
        .form-control {
            display: block;
            width: 20%;
        }
        .btn-primary {
            color: #fff;
            background-color: #640bc3;
            border-color: #640bc3;
        }
    </style>

<table border="1">
    <tr>
        <th> Cin étudiant</th>
        <th>Nom et prénom étudiant</th>
        <th>Note cc</th>
        <th>Note ds</th>
        <th>Note d'examen</th>

    </tr>

    {% for elt in note   %}
        <td>{{ elt.user.CIN }}</td>
        <td>{{ elt.user.LastName }}  </td>
        <td>{{ elt.NoteCc }}</td>
        <td>{{ elt.NoteDs }}</td>
        <td>{{ elt.NoteExam }}</td>



        </tr>
    {% endfor %}


</table>

{% endblock %}