<div id="footer">
    <div class="landing-section">
        <div class="container">
            <ul class="social-menu tranz">
                <li class="sprite-facebook"><a class="mk-social-facebook" href="#"
                                               target="_blank"
                                               title="Facebook"><i
                                class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
                <li class="sprite-twitter"><a class="mk-social-twitter-alt" href="#"
                                              target="_blank"
                                              title="Twitter"><i
                                class="fab fa-twitter"></i><span>Twitter</span></a></li>
                <li class="sprite-instagram"><a class="mk-social-photobucket" href="#"
                                                title="Instagram"><i
                                class="fab fa-instagram"></i><span>Instagram</span></a></li>
                <li class="sprite-youtube"><a class="mk-social-youtube" href="#"
                                              target="_blank"
                                              title="YouTube"><i
                                class="fab fa-youtube"></i><span>YouTube</span></a></li>
                <li class="search-item"><a class="searchOpen" href="#"><i
                                class="fas fa-search"></i><span>Search</span></a></li>
            </ul>
        </div>
    </div>
    <div class="container container_alt woocommerce">
        <div class="foocol first">
            <div class="sidebar_item"><h5 class="widget">Unitech Hall</h5>
                <div class="textwidget">
                    <ul>
                        <li>Technopole</li>
                        <li>Ghazela</li>
                        <li>Téléphone: (+216) 75757575</li>
                        <li>Lundi – Vendredi, 8:00h – 16:00h</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foocol second">
            <div class="sidebar_item"><h5 class="widget">Useful Links</h5>
                <div class="textwidget">
                    <ul>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Student Life</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Research</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foocol third">
            <div class="sidebar_item"><h5 class="widget">Campus Today</h5>
                <div class="textwidget">
                    <ul>
                        <li><a href="#">Life &amp; Events</a></li>
                        <li><a href="#">Housing</a></li>
                        <li><a href="#">Dining</a></li>
                        <li><a class="header__main-menu__level-2__link" href="#">Athletics &amp; Recreation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foocol last">
            <div class="sidebar_item"><h5 class="widget">Research</h5>
                <div class="textwidget">
                    <ul>
                        <li><a href="#">Academic Divisions</a></li>
                        <li><a href="#">Student Research</a></li>
                        <li><a href="#">Centers &amp; Institutes</a></li>
                        <li><a href="#">Research Facilities</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <style>
        .footer-logo img{
            margin-top: 10px;
            max-width: none;
        }
    </style>
    <div class="footer-logo">
        <div class="container"><a class="logo" href="{{ path('homepage') }}">
                <noscript><img alt="Valer" class="tranz"
                               src="{{ asset('assets/img/icons/website/unitech-logo.svg') }}"/>
                </noscript>
                <img alt="UniTech"
                     class="lazyload tranz"
                     data-src="{{ asset('assets/img/icons/website/unitech-logo.svg') }}"
                     src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'/>
            </a>
            <div class="footer_text">One of the largest, most diverse universities in Tunisia with over 40,000
                students.<br> © 2019 - Unitech
            </div>
            <ul class="bottom-menu" id="menu-footer-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5338 current_page_item menu-item-5634"
                    id="menu-item-5634">
                    <a aria-current="page" href="{{ path('homepage') }}">Home</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5635"
                    id="menu-item-5635"><a
                            href="#">News</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5584"
                    id="menu-item-5584"><a
                            href="#">Our Themes</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5582"
                    id="menu-item-5582"><a
                            href="#" rel="noopener noreferrer"
                            target="_blank">Purchase</a></li>
            </ul>
        </div>
    </div>
</div>