<div class="tranz " id="header" itemscope itemtype="https://schema.org/WPHeader">
    <div class="topnav tranz">
        <div class="container"><h2 class="site_decription">Unitech University</h2>
            <ul class="social-menu tranz">
                <li class="sprite-facebook"><a class="mk-social-facebook" href="http://dannci.wpmasters.org/valer"
                                               target="_blank"
                                               title="Facebook"><i
                                class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
                <li class="sprite-twitter"><a class="mk-social-twitter-alt" href="http://dannci.wpmasters.org/valer"
                                              target="_blank"
                                              title="Twitter"><i
                                class="fab fa-twitter"></i><span>Twitter</span></a></li>
                <li class="sprite-instagram"><a class="mk-social-photobucket"
                                                href="http://dannci.wpmasters.org/valer"
                                                title="Instagram"><i
                                class="fab fa-instagram"></i><span>Instagram</span></a></li>
                <li class="sprite-youtube"><a class="mk-social-youtube" href="http://dannci.wpmasters.org/valer"
                                              target="_blank"
                                              title="YouTube"><i
                                class="fab fa-youtube"></i><span>YouTube</span></a></li>
                <li class="search-item"><a class="searchOpen" href="#"><i
                                class="fas fa-search"></i><span>Search</span></a></li>
            </ul>
        </div>
    </div>
    <div class="container_vis clearfix">
        <div class="clearfix"></div>
        <div class="tranz2" id="titles"><a class="logo" href="{{ path('homepage') }}">
                <noscript><img alt="Valer" class="tranz" src="wp-content/uploads/2019/09/valer-logo-small.png"/>
                </noscript>
                <img alt="UniTech"
                     class="lazyload tranz"
                     data-src="{{ asset('assets/img/icons/website/unitech.svg') }}"
                     src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'/>
            </a></div>
        <input id="show-menu" role="button" type="checkbox"> <label class="show-menu rad ribbon" for="show-menu"><i
                    class="fas fa-bars"></i><span class="close_menu">✕</span> Menu</label>
        <nav id="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul class="nav" id="main-nav">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5338 current_page_item menu-item-5636"
                    id="menu-item-5636">
                    <a aria-current="page" href="{{ path('homepage') }}">Home</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5637"
                    id="menu-item-5637"><a
                            href="{{ path('forum_homepage') }}">News</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="#">Student</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-post">
                            <a href="{{ path('reclamation_front_index') }}">Reclamation</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post">
                            <a href="{{ path('notes_front_index') }}">Reclamation Note</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post">
                            <a href="{{ path('Note_consulterrelev') }}">Notes</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post">
                            <a href="{{ path('absence_readetudiant') }}">Absence</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post">
                            <a href="{{ path('enseignants_front_index') }}">Teachers</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post">
                            <a href="{{ path('permutation_front_new') }}">Permutation</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6186"
                    id="menu-item-6186"><a
                            href="{{ path('consulterliste') }}">Stage</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5802"
                    id="menu-item-5802"><a
                            href="#">About</a></li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="special menu-item menu-item-type-custom menu-item-object-custom menu-item-6133"
                        id="menu-item-6133"><a
                                href="{{ path('dashboard') }}"
                                rel="noopener noreferrer"
                                target="_blank">Dashboard</a>
                    </li>
                {% else %}
                    <li class="special menu-item menu-item-type-custom menu-item-object-custom menu-item-6133"
                        id="menu-item-6133"><a
                                href="{{ path('fos_user_security_login') }}"
                                rel="noopener noreferrer"
                                target="_blank">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
</div>