{% extends "base.html.twig" %}
{% block body %}
    <h1>Reclamation edit</h1>




    <ul>
        <li>
           Back to the list
        </li>
        <li>

            <input type="submit" value="Delete">

        </li>
    </ul>
{% endblock %}