{% trans_default_domain 'FOSUserBundle' %}

<div class="card-header bg-transparent pb-5">
    <div class="text-muted text-center mt-2 mb-1"><strong>Sign in</strong></div>
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text"><strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}</span>
        </div>
    {% endif %}
</div>

<div class="card-body px-lg-5 py-lg-5">
    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="form-group mb-3">
            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Username" type="text" id="username" name="_username"
                       value="{{ last_username }}"
                       required="required"
                       autocomplete="username"/>
            </div>
        </div>

        <div class="form-group">
            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" id="password" name="_password"
                       required="required"
                       autocomplete="current-password"/>
            </div>
        </div>

        <div class="custom-control custom-control-alternative custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on"/>
            <label class="custom-control-label" for="remember_me">
                <span class="text-muted">{{ 'security.login.remember_me'|trans }}</span>
            </label>
        </div>

        <div class="text-center">
            <input type="submit" id="_submit" name="_submit" class="btn btn-primary my-4"
                   value="{{ 'security.login.submit'|trans }}"/>
        </div>
    </form>
</div>