{% extends "::back/common/layout.html.twig" %}
{% block body %}

    <div class="container-fluid mt--4">
        <div class="row">
            <div class="col">
                <div class="card">

                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mb-0">Liste des sujets de stage</h3>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon"  role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" data-original-title="Chercher stage bar branche ">
                                        <span class="btn-inner--icon"><i class="ni ni-air-baloon"></i></span>
                                        <span class="btn-inner--text">Chercher par branche</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden">
                                        <div class="px-3 py-3">
                                            <h6 class="text-sm text-muted m-0">Vous avez  <strong class="text-primary">4</strong>
                                                branches.</h6>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <a href="{{path('businessbranche')}}" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">

                                                    <div class="col ml--2">

                                                        <p class="text-sm mb-0">Business</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <a href="{{path('Datasciencebranche')}}" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">

                                                    <div class="col ml--2">

                                                        <p class="text-sm mb-0">Data_Science</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <a href="{{path('genielogicielbranche')}}" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">

                                                    <div class="col ml--2">

                                                        <p class="text-sm mb-0">Genie_logiciel</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <a href="{{path('Infobranche')}}" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">

                                                    <div class="col ml--2">

                                                        <p class="text-sm mb-0">Informatique</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        </div>


                                    <a href="{{ path('createnewstage') }}" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip" data-original-title="Ajouter stage">
                                        <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                        <span class="btn-inner--text">Ajouter</span>
                                    </a>

                                    <a href="{{ path('listedemandestage') }}" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip" data-original-title="vous avez {{ listestage|length }} demandes">
                                        <i class="ni ni-bell-55"></i><span class="btn-inner--icon"style="color:#2d4474 "></span>
                                        <span class="btn-inner--text">Liste des demandes</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th>Sujet</th>
                                    <th>Description</th>
                                    <th>Branche</th>


                                    <th></th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for elt in stages    %}
                                    <tr>
                                        <td class="table-user">
                                            <span class="text-muted">{{ elt.sujet}}</span>
                                        </td>
                                        <td>
                                            <span class="text-muted">{{ elt.description}}</span>
                                        </td>
                                        <td>
                                            <span class="text-muted">{{ elt.branche}}</span>
                                        </td>
                                        {#
                                        <td>
                                            <span class="text-muted">{{ elt.LettreMotivation}}</span>
                                        </td>
                                        <td>
                                            {% for img in elt.CV %}

                                                <img src="{{ asset('upload/' ~ img.CV) }}" height="500px" width="500px">

                                            {% endfor %}
                                        </td>
                                        #}

                                        <td class="table-actions">
                                            <a href="{{ path('updatestage',{'id':elt.IdStage})}}" class="table-action" data-toggle="tooltip" data-original-title="Modifier stage">
                                                <i class="fas fa-user-edit"></i>
                                            </a>
                                            <a href="{{ path('deletestage',{'id':elt.IdStage})}}" class="table-action table-action-delete" data-toggle="tooltip" data-original-title="Supprimer stage">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="text-center" style="margin-left: 650px ; color: #1a174d ;  font-size: 20px">{{ knp_pagination_render(stages) }}</div>
    </center>
{#
    <table border="1">
        <tr>

            <th>Sujet</th>
            <th>Description</th>
            <th>Branche</th>

            <th>Action</th>



        </tr>


        {% for elt in stages     %}


            <td>{{ elt.sujet}}</td>
            <td>{{ elt.description }}</td>
            <td>{{ elt.branche}}</td>


            <td><a href="{{ path('deletestage',{'id':elt.IdStage})}}">
                    <button>Supprimer</button></a></td>
           {#
            <td><a href="{{ path('club8_edit',{'id':elt.id})}}">
                    <button>modifier</button></a></td>
                     #}
          {#  <td><a href="{{ path('updatestage',{'id':elt.IdStage})}}">
                    <button>modifier</button></a></td>

            </tr>

        {% endfor %}


    </table>
#}



{% endblock %}
