{% extends "::back/home.html.twig" %}
{% block body %}

    <div class="container-fluid mt--4">
        <div class="row">
            <div class="col-lg-4">
                <!-- Image-Text card -->
                <div class="card" style="width: 1100px">
                    <!-- Card image -->
                    <!-- Card body -->
                    <div class="card-body" style="width: 1100px">
                        <div class="card-header">
                         {#
                                <span class="text-muted"><b>Sujet</b> </span><br/>
                                <input type ="text"name="sujet" style="width: 1000px;height: 55px" value={{ stage.sujet}}><br/>
                                <span class="text-muted"><b>Description</b> </span><br/>
                                <input type ="text"name="description" style="width: 1300px;height: 65px" value={{ stage.description}}><br/>
                                <span class="text-muted"><b>Branche</b> </span><br/>
                                <input type ="text"name="branche" style="width: 1300px;height: 65px" value={{ stage.branche}}><br/>


                        </div>
                        <button class="btn btn-primary" type="submit" style="margin-left: 1200px">Modifier</button>#}
                            <form  action="{{ path('updatestage',{'id':stage.IdStage})}}" method="POST" enctype="multipart/form-data">
                            <span class="text-muted"><b>Sujet</b> </span><br/>
                            <textarea class="form-control"  rows="1"name="sujet" >{{ stage.sujet}}</textarea>
                            <span class="text-muted"><b>Description</b> </span><br/>
                            <textarea class="form-control" rows="3" name="description">{{ stage.description}}</textarea>
                            <span class="text-muted"><b>Branche</b> </span><br/>
                            {#<textarea class="form-control"  rows="1" name="branche"></textarea>#}
                            <select class="form-control" id="exampleFormControlSelect1" name="branche">
                                <option>{{ stage.branche}}</option>
                                <option>Data_science</option>
                                <option>Informatique</option>
                                <option>Business</option>
                                <option>Genie_logiciel</option>
                            </select><br/><br/>
                            <button class="btn btn-primary" type="submit" style="margin-left: 900px">Modifier</button>

                        </div>
                    </form>
                </div>


            </div>
        </div>

    </div> </div>
    </div>





    {#
    <div class="row">

        <div class="col-md-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Modifier Stage </h5>
                <div class="row">
                    <div class="col-sm-12">

                        <form  action="{{ path('updatestage',{'id':stage.IdStage})}}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Sujet</span>
                                    </div>

                                    <input type ="text"name="sujet"value={{ stage.sujet}}>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <input type ="text"name="description"value={{ stage.description}}>
                                </div>
                            </div>






                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Branche</span>

                                    </div>
                                    <input type ="text"name="branche"value={{ stage.branche}}>


                                </div>
                            </div>










                            <div class="input-group">
                                <button class="btn btn-success" type="submit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Enregistrer</font></font></button>
                            </div>


                        </form>

                    </div>



                </div>
            </section>
        </div>
    </div>
#}
{% endblock %}