<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="{{ path('dashboard') }}">
                <img src="{{ asset('assets/img/icons/website/unitech-dash.svg') }}" width="250px"
                     style="max-height: 4rem;" alt="UniTech">
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-dashboards" data-toggle="collapse" role="button"
                           aria-expanded="true" aria-controls="navbar-dashboards">
                            <i class="ni ni-shop text-primary"></i>
                            <span class="nav-link-text">Reclamations</span>
                        </a>
                        <div class="collapse show" id="navbar-dashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('reclamation_all') }}" class="nav-link">Reclamations</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-classe" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-classe">
                            <i class="ni ni-chat-round text-primary"></i>
                            <span class="nav-link-text">Classe</span>
                        </a>
                        <div class="collapse" id="navbar-classe">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('classe_all') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('permutation_all') }}" class="nav-link"><i
                                                class="ni ni-check-bold text-primary"></i>Permutation</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-matiere" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-matiere">
                            <i class="ni ni-align-left-2 text-primary"></i>
                            <span class="nav-link-text">Matiére</span>
                        </a>
                        <div class="collapse" id="navbar-matiere">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('Note_show') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Matiéres</a>

                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('Note_create') }}" class="nav-link"><i
                                                class="ni ni-fat-add text-primary"></i>Ajouter Matiére</a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-note" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-note">
                            <i class="ni ni-map-big text-primary"></i>
                            <span class="nav-link-text">Note</span>
                        </a>
                        <div class="collapse" id="navbar-note">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('Note_consulteradmin') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Note</a>

                                </li>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-absence" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-absence">
                            <i class="ni ni-collection text-primary"></i>
                            <span class="nav-link-text">Absence</span>
                        </a>
                        <div class="collapse" id="navbar-absence">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('absence_rechercheclasseadmin') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Absence</a>

                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-seance" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-seance">
                            <i class="ni ni-ruler-pencil text-primary"></i>
                            <span class="nav-link-text">Seance</span>
                        </a>
                        <div class="collapse" id="navbar-seance">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('absence_recherche') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Seance</a>

                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('absence_ajoutsceance') }}" class="nav-link"><i
                                                class="ni ni-fat-add text-primary"></i>Ajouter Seance</a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-stage" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-stage">
                            <i class="ni ni-album-2 text-primary"></i>
                            <span class="nav-link-text">Stage</span>
                        </a>
                        <div class="collapse" id="navbar-stage">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('listestage') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Stage</a>

                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('createnewstage') }}" class="nav-link"><i
                                                class="ni ni-fat-add text-primary"></i>Ajouter Stage</a>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-absence" data-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="navbar-absence">
                            <i class="ni ni-badge text-primary"></i>
                            <span class="nav-link-text">Forum</span>
                        </a>
                        <div class="collapse" id="navbar-absence">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{{ path('back_forum') }}" class="nav-link"><i
                                                class="ni ni-bullet-list-67 text-primary"></i>List Forum</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('add_form') }}" class="nav-link"><i
                                                class="ni ni-fat-add text-primary"></i>Add Sujet</a>

                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">Settings</h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('dashboard_users') }}">
                            <i class="ni ni-settings"></i>
                            <span class="nav-link-text">Users</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
