{% extends "::front/common/layout.html.twig" %}

{% block title %}Permutation{% endblock %}


{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('assets/img/theme/img-1-1000x900.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('assets/img/theme/img-1-1000x900.jpg') }}"
                     src="{{ asset('assets/img/theme/img-1-1000x900.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Permutation</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">

                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Thanks
                                            for
                                            your <br>Time</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>

                            <div class="css-events-list">
                                <table class="events-table">
                                    <div class="container col-md-4">
                                        <div class="card-body">
                                            <p><b>I am:</b> {{ permutation.student1 }}</p>
                                            <p><b>From:</b> {{ permutation.student1.classe }}</p>
                                            <p><b>With:</b> {{ permutation.student2 }}</p>
                                            <p><b>To:</b> {{ permutation.student2.classe }}</p>
                                            <p><b>Accepted:</b> {{ permutation.accepted ? 'Yes' : 'No' }}</p>
                                            <p><b>Date creation:</b> {{ permutation.dateCreation | date('F d, yy') }}
                                            </p>
                                            <a href="{{ path('homepage') }}" style="color: #17082d"> <i
                                                        class="fas fa-home primary-color"></i>
                                                Home </a>
                                        </div>
                                    </div>

                                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
                                          rel="stylesheet"/>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block js %}
{% endblock %}