{% extends "::front/common/layout.html.twig" %}

{% block title %}Enseignants{% endblock %}


{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/hero-3320778-1442x750.png') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/hero-3320778-1442x750.png') }}"
                     src="{{ asset('wp-content/uploads/2018/05/hero-3320778-1442x750.png') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Enseignants</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">

                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Feel
                                            free
                                            to check your <br>Teacher</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>

                            <div class="css-events-list">
                                <table class="events-table">
                                    <div class="container col-md-4">
                                        <div class="card-body">
                                            <form method="post" action="{{ path('enseignants_new_rec') }}">
                                                <div class="form-group">
                                                    <label for="selectTeacher">Your teacher</label>
                                                    <select class="form-control select2" id="selectTeacher"
                                                            data-toggle="select" name="your-teacher">
                                                        {% for teacher in teachers %}
                                                            <option value="{{ teacher.id }}">{{ teacher }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <p class="form-group">
                                                    <label for="descriptionRec">Your Message</label>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea name="your-message" rows="10"
                                                                  class="wpcf7-form-control form-control wpcf7-textarea"
                                                                  aria-invalid="false" id="descriptionRec"
                                                                  required></textarea>
                                                    </span>
                                                    <br>
                                                    <input type="submit" value="Send"
                                                           class="wpcf7-form-control wpcf7-submit">
                                                </p>
                                            </form>
                                        </div>
                                    </div>

                                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
                                          rel="stylesheet"/>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/js/components/vendor/select2.js') }}"></script>
    <script type="text/javascript">
        (function ($) {
            $('.select2').select2();
        })(jQuery);
    </script>
{% endblock %}