<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"

>
    <channel>
        <title>
            Comments for Valer </title>
        <atom:link href="http://dannci.wpmasters.org/valer/comments/feed/" rel="self" type="application/rss+xml"/>
        <link>
        http://dannci.wpmasters.org/valer</link>
        <description>University &#38; College WordPress Theme</description>
        <lastBuildDate>Fri, 10 Mar 2017 22:55:13 +0000</lastBuildDate>
        <sy:updatePeriod>
            hourly
        </sy:updatePeriod>
        <sy:updateFrequency>
            1
        </sy:updateFrequency>
        <generator>https://wordpress.org/?v=5.3.2</generator>
        <item>
            <title>
                Comment on The 16th of December by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/the-16th-of-december-was-the-seventy-fifth-day/#comment-6</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Mon, 06 Mar 2017 15:12:39 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=948#comment-6</guid>
            <description><![CDATA[Visitor Rating: 76%]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 76%</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on Building a Deeper Narrative: Photography at Republicca by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/there-among-some-young-pine-trees-and-furze-bushes-audio-post/#comment-12</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Tue, 28 Feb 2017 08:33:16 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=952#comment-12</guid>
            <description><![CDATA[Visitor Rating: 5 Stars]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 5 Stars</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on Building a Deeper Narrative: Photography at Republicca by Dannci </title>
            <link>
            http://dannci.wpmasters.org/valer/there-among-some-young-pine-trees-and-furze-bushes-audio-post/#comment-11</link>
            <dc:creator><![CDATA[Dannci]]></dc:creator>
            <pubDate>Thu, 23 Feb 2017 14:56:13 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=952#comment-11</guid>
            <description><![CDATA[Visitor Rating: 5 Stars]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 5 Stars</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on Building a Deeper Narrative: Photography at Republicca by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/there-among-some-young-pine-trees-and-furze-bushes-audio-post/#comment-10</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Tue, 21 Feb 2017 15:31:10 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=952#comment-10</guid>
            <description><![CDATA[Visitor Rating: 5 Stars]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 5 Stars</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on The 16th of December by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/the-16th-of-december-was-the-seventy-fifth-day/#comment-5</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Tue, 07 Feb 2017 14:09:15 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=948#comment-5</guid>
            <description><![CDATA[Visitor Rating: 72%]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 72%</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on Building a Deeper Narrative: Photography at Republicca by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/there-among-some-young-pine-trees-and-furze-bushes-audio-post/#comment-9</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Mon, 06 Feb 2017 09:14:06 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=952#comment-9</guid>
            <description><![CDATA[Visitor Rating: 5 Stars]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 5 Stars</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on The 16th of December by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/the-16th-of-december-was-the-seventy-fifth-day/#comment-4</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Fri, 03 Feb 2017 05:24:57 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=948#comment-4</guid>
            <description><![CDATA[Visitor Rating: 60%]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 60%</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on A Brief History of America’s Obsession With Sneakers by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/my-effort-was-crowned-with-a-success-full-image-left-sidebar/#comment-22</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Thu, 02 Feb 2017 21:41:09 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/01/?p=35#comment-22</guid>
            <description><![CDATA[Visitor Rating: 44%]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 44%</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on Building a Deeper Narrative: Photography at Republicca by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/there-among-some-young-pine-trees-and-furze-bushes-audio-post/#comment-8</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Wed, 01 Feb 2017 11:51:19 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=952#comment-8</guid>
            <description><![CDATA[Visitor Rating: 5 Stars]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 5 Stars</p>
                ]]>
            </content:encoded>
        </item>
        <item>
            <title>
                Comment on Building a Deeper Narrative: Photography at Republicca by Anonymous </title>
            <link>
            http://dannci.wpmasters.org/valer/there-among-some-young-pine-trees-and-furze-bushes-audio-post/#comment-7</link>
            <dc:creator><![CDATA[Anonymous]]></dc:creator>
            <pubDate>Tue, 31 Jan 2017 23:02:53 +0000</pubDate>
            <guid isPermaLink="false">http://wpdemo.themnific.com/pre/05/?p=952#comment-7</guid>
            <description><![CDATA[Visitor Rating: 3 Stars]]></description>
            <content:encoded><![CDATA[<p>Visitor Rating: 3 Stars</p>
                ]]>
            </content:encoded>
        </item>
    </channel>
</rss>
