{% extends "::back/common/layout.html.twig" %}

{% block widgets %}
{% endblock %}

{% block body %}
    <div class="form-style-5" style="margin-top: 100px">
        <form method="post" id="myform">
            <fieldset>
                <legend style="color:#5e72e4" id="TitreBO"> Ajouter nouvelle matiére</legend><h3></h3><h1></h1>
                <input style="width: 100%" type="text" name="nom_mat" id="nom_mat" placeholder="Nom matiére *">
               <span id="error"></span>
               <center> <input style="width: 60%" type="number" name="coef"  id="coef" placeholder="Coef *"></center>
                <span id="error1"></span>
            </fieldset>
            <div class="button-section">
            <input type="submit" value="Ajouter " /></div>

                <span class="privacy-policy"></span>

        </form>



    <style type="text/css">
        .form-style-5{
            max-width: 500px;
            padding: 10px 20px;
            background: #ffffff;
            margin: 10px auto;
            padding: 20px;
            background: #ffffff;
            border-radius: 8px;
            font-family: Georgia, "Times New Roman", Times, serif;
        }
        .form-style-5 fieldset{
            border: none;
        }
        .form-style-5 legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }
        .form-style-5 label {
            display: block;
            margin-bottom: 8px;
        }
        .form-style-5 input[type="text"],
        .form-style-5 input[type="number"]{
            font-family: Georgia, "Times New Roman", Times, serif;
            background: rgba(255,255,255,.1);
            border: none;
            border-radius: 4px;
            font-size: 15px;
            margin: 0;
            outline: 0;
            padding: 10px;

            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            background-color: #e8eeef;
            color:#8a97a0;
            -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            margin-bottom: 30px;
        }
        .form-style-5 input[type="text"]:focus,

        .form-style-5 input[type="number"]:focus{
            background: #d2d9dd;
        }
        .form-style-5 select{
            -webkit-appearance: menulist-button;
            height:35px;
        }
        #TitreBO
        {
            font-size: 30px;
            font-family:"Segoe print", Arial, Helvetica, sans-serif;
            color: #640bc3;
            padding:10px 0 0 0;
            margin:16px auto;
            font-weight:lighter;
            -moz-box-shadow:none;
            -webkit-box-shadow: none;
            box-shadow:black;
            text-align:center;
            display:block;
        }
        .form-style-5 .number {
            background: #5e72e4;
            color: #fff;
            height: 30px;
            width: 30px;
            display: inline-block;
            font-size: 0.8em;
            margin-right: 4px;
            line-height: 30px;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255,255,255,0.2);
            border-radius: 15px 15px 15px 0px;
        }

        .form-style-5 input[type="submit"]
        {
            position: relative;
            display: block;
            padding: 8px 20px 8px 20px;
            color: #FFF;
            margin: 0 auto;
            background: #5e72e4;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            width: 30%;
            -webkit-border-radius: 5px;
            border-width: 1px 1px 3px;
            margin-bottom: 10px;
        }

        .form-style-5 input[type="submit"]:hover,
        .form-style-5 input[type="button"]:hover
        {
            background: #959ea9;
        }
    </style>
        <script>
            let myform = document.getElementById('myform');
            myform.addEventListener('submit',function (e) {
                let myInput = document.getElementById('nom_mat');
                let myInput1 = document.getElementById('coef');
                if(myInput.value.trim() == ""){
                    let myerror=document.getElementById('error');
                    myerror.innerHTML="Veuillez remplir ce champ .* "
                    myerror.style.color='red';
                    e.preventDefault();
                }
                else if(myInput1.value.trim() == ""){
                    let myerror=document.getElementById('error1');
                    myerror.innerHTML="Veuillez remplir ce champ .* "
                    myerror.style.color='red';
                    e.preventDefault();

                }


            })
        </script>


    </div>

{% endblock %}