{{ form(f) }}
<table border="1">
    <tr>

        <th>Nom matiere</th>
        <th>coef</th>
      </tr>


    {% for elt in matiere    %}


        <td>{{ elt.NomMat}}</td>
        <td>{{ elt.coef }}</td>


        </tr>
    {% endfor %}


     </table>

