{% extends "::back/common/layout.html.twig" %}
{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Liste des Matiéres</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Matiére</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liste des Matiéres</li>
                </ol>
            </nav>
        </div>

    </div>
{% endblock %}

{% block widgets %}
    <form  method="post" class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main" >
        <div class="form-group mb-0" >
            <div class="input-group input-group-alternative input-group-merge" >
                <div class="input-group-prepend" >
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input name="nom_mat" class="form-control" placeholder="Matiére" type="text" >
            </div>
        </div>

    </form>
{% endblock %}

{% block body %}


    <div class="row" style="margin-top: 30px">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0"></h3>
                </div>
                <center>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                    {% for message in app.flashes('dangern') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </center>
                <center>
                    {% for message in app.flashes('successdelete') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </center>
                <center>
                    {% for message in app.flashes('successmodif') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </center>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                        <tr>
                            <th>Matiére</th>
                            <th>Coef</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for elt in matiere %}
                            <tr>
                                <td>{{ elt.NomMat}}</td>
                                <td>{{ elt.coef }}</td>
                                <td>
                                    <a style="padding:14px;"  href="{{ path('Note_edit',{'id':elt.id})}}"><img src="{{ asset('Modifiermat.png' ) }}" height="30px" width="30px"/></a>
                                    <a onclick="confirm('Voulez-vous vraiment supprimer le matiére {{elt.NomMat }} ??')" href="{{ path('Note_delete',{'id':elt.id})}}"> <img src="{{ asset('Delete.png' ) }}" height="30px" width="40px"/></a>

                               {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <style>
        .alert-success {
            color: #fff;
            border-color: #87908c;
            background-color: #afb3b1;
            width: 50%;
            background: linear-gradient(to bottom, #d4d9dd 2%, #87908c 80%);

        }
        .alert-danger {
            color: #fff;
            border-color: #ff0100;
            background-color: #ff0100;
            width: 50%;
        }
    </style>
{% endblock %}


{% block js %}
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
{% endblock %}