<div class="sign_up_modal modal fade" id="modalLigneDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="post" id="deleteForm" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="text-center">Supprimer!!</h3>
                </div>
                <div class="heading">
                    <p class="text-center">Ce Ligne sera supprimée définitivement de votre liste</p>
                </div>
                <button class="btn btn-primary" style="margin-left: 43%;margin-top: 10px;margin-bottom: 10px">Delete</button>
            </div>
        </div>
    </form>
</div>