{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reclamationprofs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamationProf in reclamationProfs %}
            <tr>
                <td><a href="{{ path('reclamationprof_show', { 'id': reclamationProf.id }) }}">{{ reclamationProf.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamationprof_show', { 'id': reclamationProf.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamationprof_edit', { 'id': reclamationProf.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamationprof_new') }}">Create a new reclamationProf</a>
        </li>
    </ul>
{% endblock %}
