{% extends '::back/home.html.twig' %}


{% block body %}
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <div class="row" style="margin-top: 30px">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Events</h3>
                </div>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                        <tr>
                            <th>Titre</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Image</th>
                            <th>Categorie</th>
                            <th>nombre de place</th>
                            <th>Nombre de Reservation</th>
                            <th>action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for evenement in evenements %}
                            <tr>
                                <td align="center"> {{ evenement.getTitreEvent()}} </td>
                                <td align="center"> {{ evenement.getDatedEvent()|date("m/d/Y") }} </td>
                                <td align="center"> {{ evenement.getDatefEvent()|date("m/d/Y") }} </td>

                                <td align="center"> <img src="{{ asset('../public1/uploads/'~evenement.getImageEvent()) }}  " width="100" height="100" > </td>
                                <td align="center" > {{ evenement.getCategorieEvent() }} </td>
                                <td align="center"> {{ evenement.getNbrPlaceE() }} </td>
                                <td align="center"> {{ evenement.getNbrR() }} </td>


                                <td  >

                                    <a style="padding:14px;" href="{{ path('modifierev', {'id':evenement.getIdEvent()}) }}"><img src="{{ asset('acc.jpg' ) }}" height="30px" width="30px"/></a>
                                    <a href="{{ path('supprimere', {'id':evenement.getIdEvent()}) }}"> <img src="{{ asset('Delete.png' ) }}" height="30px" width="40px"/></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}