{% extends 'base.html.twig' %}

{% block deco1 %}

    {% if is_granted('ROLE_USER')  %}
        <a   href="{{ path('fos_user_security_logout') }}" class="connecter">Deconnexion </a>
        {% block cree %}<a href=""> </a> {% endblock %}
    {% else %}

        <a   href="{{ path('fos_user_security_login') }}" class="connecter">Se Connecter </a>

    {% endif %}
{% endblock %}
{% block creee %}
    {% if is_granted('ROLE_USER')  %}

        <a href="">   </a>
    {% else %}
        <a href="{{ path('fos_user_registration_register') }}">  cree un compte </a>
    {% endif %}
{% endblock %}
{% block connecteru %}


{% endblock %}
{% block content %}
    hellooooooooooooooo
{% endblock %}

