{% extends '::front/home.html.twig' %}

{% block body %}


<div class="elementor-container elementor-column-gap-wide">
    <div class="elementor-row">
        <div class="elementor-element elementor-element-6747cde3 elementor-column elementor-col-100 elementor-top-column"
             data-element_type="column" data-id="6747cde3">
            <div class="elementor-column-wrap  elementor-element-populated">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading"
                         data-element_type="widget" data-id="2e1ccd32"
                         data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h5
                                    class="elementor-heading-title elementor-size-default">Feel free
                                to join our <br>Academic & Public Events</h5></div>
                    </div>
                    <div class="elementor-element elementor-element-cb71df2 elementor-widget elementor-widget-divider"
                         data-element_type="widget" data-id="cb71df2"
                         data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-divider"><span
                                        class="elementor-divider-separator"> </span></div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5714c0b5 elementor-widget elementor-widget-heading"
                         data-element_type="widget" data-id="5714c0b5"
                         data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h2
                                    class="elementor-heading-title elementor-size-xl">Upcoming
                                Events</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for entity in clubs  %}
<div class='css-events-list'>
    <table class="events-table">
        <tbody>
        <tr>
            <td class="list_text">
                <div class="evnt_date">{{entity.getDatefEvent()|date("m/d/Y") }}</div>
                <div class="evnt_title"><h3><a
                                href="{{ path('map', {'id':entity.getIdEvent()}) }}">{{  entity.getTitreEvent()}}</a></h3></div>
                <div class="evnt_time">12:00 am</div>
                <div class="evnt_button"><a href="{{ path('map', {'id':entity.getIdEvent()}) }}"> {{  entity.getDescrEvent()}}</a>
                </div>
            </td>
        </tr> </tbody> </table> </div>{% endfor %}
                    {#  <div class="background_image">  <img src="{{ asset('../public/uploads/ajout.jpg' ) }}" height="100px" width="250px"></div>#}
                    {# <div class="background_image"><img src="{{ asset ('images/event_9.jpg ')}}" style="background-image: none"  alt="" ></div>#}
                    {#  <div class="background_image" style="background-image:url('{{ asset('../public/uploads/'~entity.getImageEvent()) }}')" ></div>#}


{% endblock %}
