{% extends '::front/home.html.twig' %}
{% block body %}



    <link rel="stylesheet" type="text/css" href="{{  asset('styles/bootstrap4/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('styles/events.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('styles/events_responsive.css')}}">


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="crossorigin="" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="crossorigin=""></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
    <style type="text/css">

        #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height:400px;
            width: 400px;
        }
    </style>





    <a class="course-permalink">
        <div class="course-thumbnail">
            <script type="text/javascript">
                var theme = 'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png';
                var lat = 8.619543;
                var lon = 0.82;
                var alt =481;
                var macarte = null;
                //var trace = new Array();
                var i = 0;
                //var marker1;
                var markerClusters; // Servira à stocker les groupes de marqueurs
                var popup = L.popup();
                var mark =L.marker();
                function initMap(){

                    // Nous définissons le dossier qui contiendra les marqueurs
                    //var iconBase = 'img';
                    // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                    macarte = L.map('map').setView([{{ id.getEmplacement() }}], 5);
                    // markerClusters = L.markerClusterGroup; // Nous initialisons les groupes de marqueurs
                    // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                    L.tileLayer(theme, {
                        // Il est toujours bien de laisser le lien vers la source des données
                        //attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
                        minZoom: 1,
                        maxZoom: 20
                    }).addTo(macarte);
                    mark.setLatLng([{{ id.getEmplacement() }}]).addTo(macarte);
                }










                $(document).ready(function(){
                    initMap();

                });
            </script>
            </div>


        <br>
        <br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br>
    <br>
    <br>
    <br>
        <h1 align="center"> {{ id.getTitreEvent()}} </h1>
        <p align="center">Description : {{ id.getDescrEvent()}}</p>
        <p align="center">Start date :  {{ id.getDatedEvent()|date("m/d/Y") }} </p>
        <p align="center">End date : {{ id.getDatefEvent()|date("m/d/Y") }} </p>

        <p align="center"> <img src="{{ asset('../public1/uploads/'~id.getImageEvent()) }}  " width="100" height="100" > </td>
        <p align="center" > {{ id.getCategorieEvent() }} </p>
        <p align="center"> Nombre de place : {{ id.getNbrPlaceE() }} </p>
        <p align="center"> Nombre de place reservé :{{ id.getNbrR() }} </p>

        <table>
        <tr>

            <td>
                <p align="center">
                <div id="map"  >

                    <!-- Ici s'affichera la carte -->
                </div >
                </p>
            </td>

        </tr>



    </table>

    <div class="readmore" style="background-image:url('{{ asset('../public/uploads/'~id.getImageEvent()) }}')" ></div>

{% endblock %}