{% extends '::front/home.html.twig' %}
{% block body %}





        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="crossorigin="" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="crossorigin=""></script>
        <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
        <style type="text/css">
            #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
                height:600px;
                width: 800px;
            }
        </style>






            <script type="text/javascript">
                var theme = 'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png';
                var lat = 8.619543;
                var lon = 0.82;
                var alt =481;
                var macarte = null;
                //var trace = new Array();
                var i = 0;
                //var marker1;
                var markerClusters; // Servira à stocker les groupes de marqueurs
                var popup = L.popup();
                var mark =L.marker();
                function initMap(){

                    // Nous définissons le dossier qui contiendra les marqueurs
                    //var iconBase = 'img';
                    // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                    macarte = L.map('map').setView([lat, lon], 5);
                    // markerClusters = L.markerClusterGroup; // Nous initialisons les groupes de marqueurs
                    // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                    L.tileLayer(theme, {
                        // Il est toujours bien de laisser le lien vers la source des données
                        //attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
                        minZoom: 1,
                        maxZoom: 20
                    }).addTo(macarte);
                    macarte.on('click', onMapClick);
                }


                function onMapClick(e) {
                    popup
                        .setLatLng(e.latlng)
                        .setContent("You clicked the map at " + e.latlng.toString())
                        .openOn(macarte);

                    mark.setLatLng(e.latlng).addTo(macarte);

                    var str = e.latlng.toString();
                    var l =str.indexOf("(")+1;
                    var r = str.indexOf(")")-l;
                    var res = str.substr(l, r).trim();

                    document.getElementById("lat").value = res;





                }







                $(document).ready(function(){
                    initMap();

                });
            </script>

        <br>
        <br>
        <br>

        <table>
            <tr>
                <td>

                    <input  id="lat" value="lattitude">

                </td>
                <td>
                    <div  id="map"  >

                        <!-- Ici s'affichera la carte -->
                    </div >
                </td>

            </tr>



            <tr>
                <td>
                    <input href="{{ path('showeeeee') }}"  type="submit" value="ADD " >
                </td>

            </tr>

        </table>


    <center>  <a href="{{ path('adde') }}">
            <button>Emplacement</button>
        </a></center>

        <br>
        <br>
        <br>











{% endblock %}