{% extends '::front/home.html.twig' %}
{% block body %}
    <center >
        <h1>Modification d'un Evenement </h1>
        {{ form_start(form)  }}
        Titre: *  {{ form_widget(form.titreEvent)}} </br> </br>

        <center> <input type="submit" value="modifer"> </center>
        <br>
        <center>  <a href="{{ path('showeeeee') }}">
                <button>annuler</button>
            </a></center>
        {{ form_end(form) }}
    </center>
{% endblock %}
