{% extends "::front/common/layout.html.twig" %}

{% block title %}Notes{% endblock %}


{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1500x750.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1024x807.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Notes</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">
                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Feel
                                            free
                                            to check your <br>Notes</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>

                            <div class="css-events-list">
                                <table class="events-table">
                                    <div class="container">
                                        <div class="card-body">
                                            <tbody>
                                            {% for note in notes %}
                                                <tr>
                                                    <td class="list_text">
                                                        <div class="evnt_date">{{ note.nbNote }}</div>
                                                        <div class="evnt_title"><h3>
                                                                <a class="custom-link"
                                                                   href="#">{{ note.matiere.nomMat }}</a>
                                                            </h3>
                                                        </div>
                                                        <div class="evnt_time">{{ note.moyenne }}</div>
                                                        <div class="evnt_button"><a
                                                                    href="{{ path('notes_reclamer',{'note': note.id}) }}">Reclamer</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </div>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}