{% extends "::front/common/layout.html.twig" %}

{% block title %}Notes{% endblock %}


{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1500x750.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1024x807.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Notes</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">
                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Feel
                                            free
                                            to write your <br>Reclamation Note</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>

                            <div class="css-events-list">
                                <table class="events-table">
                                    <div class="container">
                                        <div class="card-body">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div class="evnt_title text-center">
                                                        Matiere : {{ note.matiere.nomMat }}
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="list_text">
                                                    <form method="post"
                                                          action="{{ path('notes_reclamer_new', {'note': note.id}) }}">
                                                        <div class="form-group">
                                                            <label for="selectTeacher">Your note</label>
                                                            <select class="form-control select2" id="selectTeacher"
                                                                    data-toggle="select" name="your-note">
                                                                <option value="EXAM">Exam : {{ note.noteExam }}</option>
                                                                <option value="DS">DS : {{ note.noteDS }}</option>
                                                                <option value="CC">CC : {{ note.noteCC }}</option>
                                                                <option value="MOY">Moyenne
                                                                    : {{ note.moyenne }}</option>
                                                            </select>
                                                        </div>
                                                        <p class="form-group">
                                                            <label for="descriptionRec">Your Message</label>
                                                            <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea name="your-message" rows="10"
                                                                  class="wpcf7-form-control form-control wpcf7-textarea"
                                                                  aria-invalid="false" id="descriptionRec"
                                                                  required></textarea>
                                                    </span>
                                                            <br>
                                                            <input type="submit" value="Send"
                                                                   class="wpcf7-form-control wpcf7-submit">
                                                        </p>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </div>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}