{% extends "::front/common/layout.html.twig" %}

{% block title %}Notes{% endblock %}

{% block body %}
    <div class="postbar postbarNone post-5426 page type-page status-publish hentry">
        {% block header %}
            <div class="page-header">
                <noscript>
                    <img alt="Events"
                         class="page-header-img"
                         src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1500x750.jpg') }}"/>
                </noscript>
                <img alt="Events" class="page-header-img lazyloaded"
                     data-src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1500x750.jpg') }}"
                     src="{{ asset('wp-content/uploads/2018/05/paint-2940513_1920-1024x807.jpg') }}">
                <div class="container"><h1 class="give-form-title entry-title" itemprop="headline">Notes</h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="container page tmnf_page">
                <div id="core">
                    <div class="entry">
                        <div id="em-wrapper">
                            <div class="text-center" style="text-align: center">
                                <div class="elementor-element elementor-element-2e1ccd32 elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">
                                            Thanks
                                            for
                                            your <br>Feedback</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-divider">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator"> </span></div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer" style="height:73px"></div>

                            <div class="css-events-list">
                                <table class="events-table">
                                    <div class="container col-md-6">
                                        <div class="card-body">
                                            <p><b>Matiere:</b> {{ rec.note.matiere.nomMat }}</p>
                                            {% if rec.typeNote == 'EXAM' %}
                                                <p><b>Note Exam:</b> {{ rec.note.noteExam }}</p>
                                            {% elseif rec.typeNote == 'DS' %}
                                                <p><b>Note DS:</b> {{ rec.note.noteDS }}</p>
                                            {% elseif rec.typeNote == 'CC' %}
                                                <p><b>Note CC:</b> {{ rec.note.noteCC }}</p>
                                            {% else %}
                                                <p><b>Moyenne:</b> {{ rec.note.moyenne }}</p>
                                            {% endif %}
                                            <p><b>Code suivie:</b> {{ rec.codeSuivie }}</p>
                                            <p><b>Description:</b> {{ rec.description }}</p>
                                            <p><b>Date creation:</b> {{ rec.dateCreation | date('F d, yy') }}</p>
                                            <a href="{{ path('reclamation_front_index') }}" style="color: #17082d"> <i
                                                        class="fas fa-backward"></i>
                                                Check list </a>
                                        </div>
                                    </div>

                                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
                                          rel="stylesheet"/>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}