{% extends "::back/common/layout.html.twig" %}

{% block title %}Reclamations{% endblock %}

{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Reclamations</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Reclamations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reclamations</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Reclamations</h3>
                    <p class="text-sm mb-0">
                        List of reclamations.
                    </p>
                </div>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>State</th>
                            <th>Type</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for rec in reclamations %}
                            <tr>
                                <td class="table-user">
                                    <a href="{{ path('user_show',{'id': rec.etudiant.id}) }}"
                                       class="font-weight-bold">{{ rec.etudiant | upper }}</a>
                                </td>
                                <td>{{ rec.sujet | capitalize }}</td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="{{ rec.reclamationEtat[rec.etat].color }}"></i>
                                        <span class="status h5 font-weight-normal">{{ rec.reclamationEtat[rec.etat].type | upper }}</span>
                                    </span>
                                </td>
                                <td>{{ rec.type }}</td>
                                <td>{{ rec.dateCreation | date('F d, yy') }}</td>
                                <td class="table-actions">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item"
                                           href="{{ path('reclamation_show_id',{'id': rec.id}) }}">Show</a>
                                        <a class="dropdown-item"
                                           href="{{ path('reclamation_edit_back_id', {'id':rec.id}) }}">Edit</a>
                                        <a class="dropdown-item"
                                           href="{{ path('reclamation_delete_id',{"id":rec.id}) }}">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-select/js/dataTables.select.min.js') }}"></script>
{% endblock %}