{% extends "::back/common/layout.html.twig" %}

{% block title %}Reclamations{% endblock %}

{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Edit Reclamation</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('reclamation_all') }}">Reclamation</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Reclamation</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Edit Reclamation <b>{{ reclamation.id }}</b></h3>
                    <p class="text-sm mb-0">
                        Edit information of reclamation {{ reclamation.id }}.
                    </p>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="your-status">
                                    <option value="1" {{ reclamation.etat==1 ? 'selected' : '' }}>En Cours</option>
                                    <option value="2" {{ reclamation.etat==2 ? 'selected' : '' }}>Résolu</option>
                                    <option value="3" {{ reclamation.etat==3 ? 'selected' : '' }}>Non Résolu</option>
                                </select>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="your-desc">{{ reclamation.description }}</textarea>
                            </div>
                        {% endif %}
                        <button class="btn btn-dribbble" type="submit">Update Reclamation</button>
                    </form>
                    <div class="pt-2">
                        <a href="{{ path('reclamation_all') }}"> <i class="fas fa-backward"></i> Cancel </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}