{% extends "::back/common/layout.html.twig" %}

{% block title %}Reclamations{% endblock %}

{% block breadcrumb %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Reclamation details</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Reclamations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reclamations</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block widgets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Reclamation <b>{{ reclamation.sujet }}</b></h3>
                    <p class="text-sm mb-0">
                        Details of reclamation {{ reclamation.id }}.
                    </p>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6 text-right">
                            {% if(not(reclamation.etat == 2 or reclamation.etat == 3)) %}
                                <a href="{{ path('reclamation_edit_back_id', {'id': reclamation.id}) }}"
                                   class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip"
                                   data-original-title="Edit reclamation">
                                    <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                    <span class="btn-inner--text">Edit</span>
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-sm btn-danger btn-round btn-icon"
                                    data-toggle="modal"
                                    data-target="#modal-notification">
                                <span data-toggle="tooltip" data-original-title="Delete reclamation">
                                <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                                <span class="btn-inner--text">Delete</span>
                                </span>
                            </button>
                            <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog"
                                 aria-labelledby="modal-notification" aria-hidden="true">
                                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                    <div class="modal-content bg-gradient-danger">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="modal-title-notification">Are you sure?</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="py-3 text-center">
                                                <i class="ni ni-bell-55 ni-3x"></i>
                                                <h4 class="heading mt-4">You should read this!</h4>
                                                <p>Do you really want to delete this claim? This process cannot be
                                                    undone.</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{ path('reclamation_delete_id',{"id":reclamation.id}) }}"
                                                  method="post">
                                                <button type="submit" class="btn btn-white">Ok, Delete it</button>
                                            </form>
                                            <button type="button" class="btn btn-link text-white ml-auto"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p><b>Subject:</b> {{ reclamation.sujet }}</p>
                    <p><b>User:</b> <a href="{{ path('user_show',{'id': reclamation.etudiant.id}) }}"
                                       class="font-weight-bold">{{ reclamation.etudiant }}</a></p>
                    <p><b>Description:</b> {{ reclamation.description }}</p>
                    <p><b>Status:</b> {{ reclamation.reclamationEtat[reclamation.etat].type }}</p>
                    <a href="{{ path('reclamation_all') }}"> <i class="fas fa-backward"></i> Return </a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}